django==3.1.13
django-bootstrap-pagination==1.7.1
django-cors-headers==3.7.0
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.1
djangorestframework==3.12.2
wheel==0.33.6
ipython==7.10.1
markdown==3.1.1
psycopg2==2.8.4
solrpy==0.9.9

# python==3.8.0
# solr==8.3.0
# swig==4.0.1
# verovio==2.3.3
