# python==3.6.4

django==2.2.8
django-bootstrap-pagination==1.6.4
django-cors-headers==2.4.0
djangorestframework==3.9.1
ipython==6.2.1
markdown==2.6.11
psycopg2==2.7.4
# solr==8.3.0
solrpy==0.9.9
swig==4.0.0
# verovio==2.3.0
