# python==3.6.4

django==2.1.11
django-bootstrap-pagination==1.6.4
django-cors-headers==2.4.0
# django-crispy-forms
# django-extensions
djangorestframework==3.7.7
# httplib2
ipython==6.2.1
# lxml
markdown==2.6.11
psycopg2==2.7.4
# solr==6.6.4 # DOES NOT WORK with solr 7
solrpy==0.9.9
# south
swig==4.0.0
# verovio==2.0.0
# werkzeug
# wsgiref