django==3.1.14
django-bootstrap-pagination==1.7.1
django-cors-headers==3.7.0
django-crispy-forms==1.13.0
djangorestframework==3.12.2
ipython==7.16.3
markdown==3.1.1
solrpy==0.9.9
wheel==0.38.1

# testing
mixer==7.2.2
Faker==12.0.1
model-bakery
playwright==1.30.0
coverage==7.1.0
requests