<h4>Fuga</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="derivative_mt_fg">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg" name="derivative-mt-fg" value="true" />Any ({{ derivative_mt_fg.true }})
      </label>
    </li>
    <!-- TODO: list or text area for voices here -->
    <!-- TODO: list or text area for derivative_mt_fg_int here -->
    <!-- TODO: list or text area for derivative_mt_fg_tint here -->
    <li>
      <label class="checkbox" for="derivative_mt_fg_periodic">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg_periodic" name="derivative-mt-fg-periodic" value="true" />Periodic ({{ derivative_mt_fg_periodic.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="derivative_mt_fg_strict">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg_strict" name="derivative-mt-fg-strict" value="true" />Strict ({{ derivative_mt_fg_strict.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="derivative_mt_fg_flexed">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg_flexed" name="derivative-mt-fg-flexed" value="true" />Flexed ({{ derivative_mt_fg_flexed.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="derivative_mt_fg_sequential">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg_sequential" name="derivative-mt-fg-sequential" value="true" />Sequential ({{ derivative_mt_fg_sequential.true }})
      </label>
    </li>
    {% if derivative_mt_fg_inverted.true %}
    <li>
      <label class="checkbox" for="derivative_mt_fg_inverted">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg_inverted" name="derivative-mt-fg-inverted" value="true" />Inverted ({{ derivative_mt_fg_inverted.true }})
      </label>
    </li>
    {% endif %}
    {% if derivative_mt_fg_retrograde.true %}
    <li>
      <label class="checkbox" for="derivative_mt_fg_retrograde">
        <input type="checkbox" class="derivative_mt_fg" id="derivative_mt_fg_retrograde" name="derivative-mt-fg-retrograde" value="true" />Retrograde ({{ derivative_mt_fg_retrograde.true }})
      </label>
    </li>
    {% endif %}
  </ul>
</p>

<!-- Uncheck mutually exclusive types for user convenience -->
<script>
  $('#derivative_mt_fg').change (function () {
    if ($('#derivative_mt_fg').is(':checked')) {
      $('#derivative_mt_fg_periodic').prop('checked', false);
      $('#derivative_mt_fg_strict').prop('checked', false);
      $('#derivative_mt_fg_flexed').prop('checked', false);
      $('#derivative_mt_fg_sequential').prop('checked', false);
      $('#derivative_mt_fg_inverted').prop('checked', false);
      $('#derivative_mt_fg_retrograde').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_fg_periodic').change (function () {
    if ($('#derivative_mt_fg_periodic').is(':checked')) {
      $('#derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_fg_strict').change (function () {
    if ($('#derivative_mt_fg_strict').is(':checked')) {
      $('#derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_fg_flexed').change (function () {
    if ($('#derivative_mt_fg_flexed').is(':checked')) {
      $('#derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_fg_sequential').change (function () {
    if ($('#derivative_mt_fg_sequential').is(':checked')) {
      $('#derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_fg_inverted').change (function () {
    if ($('#derivative_mt_fg_inverted').is(':checked')) {
      $('#derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_fg_retrograde').change (function () {
    if ($('#derivative_mt_fg_retrograde').is(':checked')) {
      $('#derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
</script>
