<h4>Periodic entry</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="derivative_mt_pe">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe" name="derivative-mt-pe" value="true" />Any ({{ derivative_mt_pe.true }})
      </label>
    </li>
    <!-- TODO: list or text area for voices here -->
    <li>
      <label class="checkbox" for="derivative_mt_pe_strict">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe_strict" name="derivative-mt-pe-strict" value="true" />Strict ({{ derivative_mt_pe_strict.true }})
      </label>
    </li>
    {% if derivative_mt_pe_flexed.true %}
    <li>
      <label class="checkbox" for="derivative_mt_pe_flexed">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe_flexed" name="derivative-mt-pe-flexed" value="true" />Flexed ({{ derivative_mt_pe_flexed.true }})
      </label>
    </li>
    {% endif %}
    {% if derivative_mt_pe_flt.true %}
    <li>
      <label class="checkbox" for="derivative_mt_pe_flt">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe_flt" name="derivative-mt-pe-flt" value="true" />Flexed, tonal ({{ derivative_mt_pe_flt.true }})
      </label>
    </li>
    {% endif %}
    {% if derivative_mt_pe_sequential.true %}
    <li>
      <label class="checkbox" for="derivative_mt_pe_sequential">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe_sequential" name="derivative-mt-pe-sequential" value="true" />Sequential ({{ derivative_mt_pe_sequential.true }})
      </label>
    </li>
    {% endif %}
    {% if derivative_mt_pe_added.true %}
    <li>
      <label class="checkbox" for="derivative_mt_pe_added">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe_added" name="derivative-mt-pe-added" value="true" />Added ({{ derivative_mt_pe_added.true }})
      </label>
    </li>
    {% endif %}
    <li>
      <label class="checkbox" for="derivative_mt_pe_invertible">
        <input type="checkbox" class="derivative_mt_pe" id="derivative_mt_pe_invertible" name="derivative-mt-pe-invertible" value="true" />Invertible ({{ derivative_mt_pe_invertible.true }})
      </label>
    </li>
    <!-- TODO: list or text area for derivative_mt_pe_int here -->
    <!-- TODO: list or text area for derivative_mt_pe_tint here -->
  </ul>
</p>

<!-- Uncheck mutually exclusive types for user convenience -->
<script>
  $('#derivative_mt_pe').change (function () {
    if ($('#derivative_mt_pe').is(':checked')) {
      $('#derivative_mt_pe_strict').prop('checked', false);
      $('#derivative_mt_pe_flexed').prop('checked', false);
      $('#derivative_mt_pe_flt').prop('checked', false);
      $('#derivative_mt_pe_sequential').prop('checked', false);
      $('#derivative_mt_pe_added').prop('checked', false);
      $('#derivative_mt_pe_invertible').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_pe_strict').change (function () {
    if ($('#derivative_mt_pe_strict').is(':checked')) {
      $('#derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_pe_flexed').change (function () {
    if ($('#derivative_mt_pe_flexed').is(':checked')) {
      $('#derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_pe_flt').change (function () {
    if ($('#derivative_mt_pe_flt').is(':checked')) {
      $('#derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_pe_sequential').change (function () {
    if ($('#derivative_mt_pe_sequential').is(':checked')) {
      $('#derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_pe_added').change (function () {
    if ($('#derivative_mt_pe_added').is(':checked')) {
      $('#derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
  $('#derivative_mt_pe_invertible').change (function () {
    if ($('#derivative_mt_pe_invertible').is(':checked')) {
      $('#derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_cad').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
</script>
