<h4>Cadence</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="derivative_mt_cad">
        <input type="checkbox" class="derivative_mt_cad" id="derivative_mt_cad" name="derivative-mt-cad" value="true" />Any <!-- ({{ derivative_mt_cad.true }}) -->
      </label>
    </li>
    <!-- TODO: cantizans -->
    <!-- TODO: tenorizans -->
    <!-- TODO: cadence type (authentic, phrygian, plagal) -->
    <!-- TODO: cadence tone -->
    <!-- TODO: cadence dovetail voice -->
    <!-- TODO: cadence dovetail interval -->
  </ul>
</p>

<!-- Uncheck mutually exclusive types for user convenience -->
<script>
  $('#derivative_mt_cad').change (function () {
    if ($('#derivative_mt_cad').is(':checked')) {
      $('.derivative_mt_cf').prop('checked', false);
      $('.derivative_mt_sog').prop('checked', false);
      $('.derivative_mt_csog').prop('checked', false);
      $('.derivative_mt_cd').prop('checked', false);
      $('.derivative_mt_fg').prop('checked', false);
      $('.derivative_mt_pe').prop('checked', false);
      $('.derivative_mt_id').prop('checked', false);
      $('.derivative_mt_nid').prop('checked', false);
      $('.derivative_mt_hr').prop('checked', false);
      $('.derivative_mt_int').prop('checked', false);
      $('.derivative_mt_fp').prop('checked', false);
    }
  });
</script>
