{% with composers=facets.fields.composer %}
  <h3>Composers</h3>
  <p>
    <ul class="column-checklist four-columns">
      {% for composer in composers %}
        <li>
          <label class="checkbox" for="composer{{ forloop.counter }}">
            <input type="checkbox" id="composer{{ forloop.counter }}" name="selected_facets" value="composer_exact:{{ composer.0 }}" />{{ composer.0 }} ({{ composer.1 }})
          </label>
        </li>
      {% endfor %}
    </ul>
        <!-- <br class="stop-columns" /> -->
  </p>
{% endwith %}
