<h4>Other</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="rt_nm">
        <input type="checkbox" class="rt_nm" id="rt_nm" name="rt-nm" value="true" />New material ({{ rt_nm.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_om">
        <input type="checkbox" class="rt_om" id="rt_om" name="rt-om" value="true" />Omission ({{ rt_om.true }})
      </label>
    </li>
</p>

<script>
  $('#rt_nm').change (function () {
    if ($('#rt_nm').is(':checked')) {
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_om').change (function () {
    if ($('#rt_om').is(':checked')) {
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
    }
  });
</script>
