<div class="span2">
<h4>Quotation</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="rt_q">
        <input type="checkbox" class="rt_q" id="rt_q" name="rt-q" value="true" />Any ({{ rt_q.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_q_x">
        <input type="checkbox" class="rt_q" id="rt_q_x" name="rt-q-exact" value="true" />Exact ({{ rt_q_x.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_q_monnayage">
        <input type="checkbox" class="rt_q" id="rt_q_monnayage" name="rt-q-monnayage" value="true" />Monnayage ({{ rt_q_monnayage.true }})
      </label>
    </li>
  </ul>
</p>
</div>
