<div class="span3">
<h4>Non-mechanical transformation</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="rt_tnm">
        <input type="checkbox" class="rt_tnm" id="rt_tnm" name="rt_tnm" value="true" />Any ({{ facets.fields.rt_tm.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_embellished">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_embellished" name="rt_tnm_embellished" value="true" />Embellished ({{ facets.fields.rt_tnm_embellished.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_reduced">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_reduced" name="rt_tnm_reduced" value="true" />Reduced ({{ facets.fields.rt_tnm_reduced.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_amplified">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_amplified" name="rt_tnm_amplified" value="true" />Amplified ({% if facets.fields.rt_tnm_amplified.1 %}{{ facets.fields.rt_tnm_amplified.1.1 }}{% else %}0{% endif %})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_truncated">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_truncated" name="rt_tnm_truncated" value="true" />Truncated ({% if facets.fields.rt_tnm_truncated.1 %}{{ facets.fields.rt_tnm_truncated.1.1 }}{% else %}0{% endif %})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_ncs">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_ncs" name="rt_tnm_ncs" value="true" />New counter-subject ({{ facets.fields.rt_tnm_ncs.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_ocs">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_ocs" name="rt_tnm_ocs" value="true" />Old counter-subject shifted ({{ facets.fields.rt_tnm_ocs.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_ocst">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_ocst" name="rt_tnm_ocst" value="true" />Old counter-subject transposed ({% if facets.fields.rt_tnm_ocst.1 %}{{ facets.fields.rt_tnm_ocst.1.1 }}{% else %}0{% endif %})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_nc">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_nc" name="rt_tnm_nc" value="true" />New combination ({{ facets.fields.rt_tnm_nc.1.1 }})
      </label>
    </li>
  </ul>
</p>
</div>

<!-- Uncheck mutually exclusive types for user convenience -->
<script>
  $('#rt_tnm').change (function () {
    if ($('#rt_tnm').is(':checked')) {
      $('#rt_tnm_embellished').prop('checked', false);
      $('#rt_tnm_reduced').prop('checked', false);
      $('#rt_tnm_amplified').prop('checked', false);
      $('#rt_tnm_truncated').prop('checked', false);
      $('#rt_tnm_ncs').prop('checked', false);
      $('#rt_tnm_ocs').prop('checked', false);
      $('#rt_tnm_ocst').prop('checked', false);
      $('#rt_tnm_nc').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_embellished').change (function () {
    if ($('#rt_tnm_embellished').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_reduced').change (function () {
    if ($('#rt_tnm_reduced').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_amplified').change (function () {
    if ($('#rt_tnm_amplified').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_truncated').change (function () {
    if ($('#rt_tnm_truncated').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_ncs').change (function () {
    if ($('#rt_tnm_ncs').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_ocs').change (function () {
    if ($('#rt_tnm_ocs').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_ocst').change (function () {
    if ($('#rt_tnm_ocst').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tnm_nc').change (function () {
    if ($('#rt_tnm_nc').is(':checked')) {
      $('#rt_tnm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
</script>
