<div class="span3">
<h4>Non-mechanical transformation</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="rt_tnm">
        <input type="checkbox" class="rt_tnm" id="rt_tnm" name="rt-tnm" value="true" />Any ({{ rt_tm.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_embellished">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_embellished" name="rt-tnm-embellished" value="true" />Embellished ({{ rt_tnm_embellished.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_reduced">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_reduced" name="rt-tnm-reduced" value="true" />Reduced ({{ rt_tnm_reduced.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_amplified">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_amplified" name="rt-tnm-amplified" value="true" />Amplified ({{ rt_tnm_amplified.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_truncated">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_truncated" name="rt-tnm-truncated" value="true" />Truncated ({{ rt_tnm_truncated.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_ncs">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_ncs" name="rt-tnm-ncs" value="true" />New counter-subject ({{ rt_tnm_ncs.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_ocs">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_ocs" name="rt-tnm-ocs" value="true" />Old counter-subject shifted ({{ rt_tnm_ocs.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_ocst">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_ocst" name="rt-tnm-ocst" value="true" />Old counter-subject transposed ({{ rt_tnm_ocst.true }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tnm_nc">
        <input type="checkbox" class="rt_tnm" id="rt_tnm_nc" name="rt-tnm-nc" value="true" />New combination ({{ rt_tnm_nc.true }})
      </label>
    </li>
  </ul>
</p>
</div>
