<div class="span3">
<h4>Mechanical transformation</h4>
<p>
  <ul class="column-checklist">
    <li>
      <label class="checkbox" for="rt_tm">
        <input type="checkbox" class="rt_tm" id="rt_tm" name="selected_facets" value="rt_tm:true" />Any ({{ facets.fields.rt_tm.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tm_snd">
        <input type="checkbox" class="rt_tm" id="rt_tm_snd" name="selected_facets" value="rt_tm_snd:true" />Sounding in different voice(s) ({{ facets.fields.rt_tm_snd.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tm_minv">
        <input type="checkbox" class="rt_tm" id="rt_tm_minv" name="selected_facets" value="rt_tm_minv:true" />Melodically inverted ({{ facets.fields.rt_tm_minv.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tm_retrograde">
        <input type="checkbox" class="rt_tm" id="rt_tm_retrograde" name="selected_facets" value="rt_tm_retrograde:true" />Retrograde ({% if facets.fields.rt_tm_retrograde.1 %}{{ facets.fields.rt_tm_retrograde.1.1 }}{% else %}0{% endif %})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tm_ms">
        <input type="checkbox" class="rt_tm" id="rt_tm_ms" name="selected_facets" value="rt_tm_ms:true" />Metrically shifted ({{ facets.fields.rt_tm_ms.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tm_transposed">
        <input type="checkbox" class="rt_tm" id="rt_tm_transposed" name="selected_facets" value="rt_tm_transposed:true" />Transposed ({{ facets.fields.rt_tm_transposed.1.1 }})
      </label>
    </li>
    <li>
      <label class="checkbox" for="rt_tm_invertible">
        <input type="checkbox" class="rt_tm" id="rt_tm_invertible" name="selected_facets" value="rt_tm_invertible:true" />Invertible ({{ facets.fields.rt_tm_invertible.1.1 }})
      </label>
    </li>
  </ul>
</p>
</div>

<!-- Uncheck mutually exclusive types for user convenience -->
<script>
  $('#rt_tm').change (function () {
    if ($('#rt_tm').is(':checked')) {
      $('#rt_tm_snd').prop('checked', false);
      $('#rt_tm_minv').prop('checked', false);
      $('#rt_tm_retrograde').prop('checked', false);
      $('#rt_tm_ms').prop('checked', false);
      $('#rt_tm_transposed').prop('checked', false);
      $('#rt_tm_invertible').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tm_snd').change (function () {
    if ($('#rt_tm_snd').is(':checked')) {
      $('#rt_tm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tm_minv').change (function () {
    if ($('#rt_tm_minv').is(':checked')) {
      $('#rt_tm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tm_retrograde').change (function () {
    if ($('#rt_tm_retrograde').is(':checked')) {
      $('#rt_tm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tm_ms').change (function () {
    if ($('#rt_tm_ms').is(':checked')) {
      $('#rt_tm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tm_transposed').change (function () {
    if ($('#rt_tm_transposed').is(':checked')) {
      $('#rt_tm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
  $('#rt_tm_invertible').change (function () {
    if ($('#rt_tm_invertible').is(':checked')) {
      $('#rt_tm').prop('checked', false);
      $('.rt_q').prop('checked', false);
      $('.rt_tnm').prop('checked', false);
      $('.rt_nm').prop('checked', false);
      $('.rt_om').prop('checked', false);
    }
  });
</script>
