{% extends "base.html" %}
{% load markdown %}
{% load shorten %}

{% block title %}
  <title>CRIM | Masses</title>
{% endblock %}

{% block wrap %}
  <div class="row-fluid">
    <div class="span12">
      <div class="show-heading row-fluid">
        <hgroup class="show-title page-title main span12">
          <h1>Masses</h1>
        </hgroup>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-white table-bordered table-hover">
        <thead>
          <tr>
            <th><a href="?order_by=mass_id">Mass ID</a></th>
            <th><a href="?order_by=title">Title</a></th>
            <th><a href="?order_by=composer__name_sort">Composer</a></th>
            <th><a href="?order_by=max_number_of_voices">Voices</a></th>
            <th><a href="?order_by=date_sort">Date</a></th>
          </tr>
        </thead>
        <tbody>
          {% for mass in content %}
            <tr>
              <td><a href="{{ mass.url|htmlsite }}">[{{ mass.mass_id }}]</a></td>
              <td><a href="{{ mass.url|htmlsite }}">{{ mass.title }}</a></td>
              <td><a href="{{ mass.composer.url|htmlsite }}">{{ mass.composer.name }}</a></td>
              <td>{{ mass.total_voice_count|figuredash }}</td>
              <td>{{ mass.date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
