{% extends 'base.html' %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block title %}
<title>CRIM | New forum discussion</title>
{% endblock %}

{% block wrap %}

<h1><a href="{% url 'forum-list' %}">Forum</a></h1>

<h2>New discussion</h2>
<form id="forum-post-form" action="{% url 'forum-create-post' %}" method="POST">
  {% csrf_token %}
  <h3>
    <input type="text" name="title" id="id_title" height="22" required maxlength="128">
  </h3>
  <p>
    <textarea name="body" required id="id_body"></textarea>
  </p>
  <button type="submit" class="btn btn-info" value="Submit" disabled>Post</button>
</form>

<script>
// Disable the submit button whenever either title or body are empty.
let submitButton = document.querySelector("#forum-post-form button[type='submit']");
let titleInput = document.getElementById("id_title");
let textArea = document.getElementById("id_body");

function onFormChange() {
  if (textArea.value.trim() === "" || titleInput.value.trim() === "") {
    submitButton.disabled = true;
  } else {
    submitButton.disabled = false;
  }
}

textArea.addEventListener("input", onFormChange);
titleInput.addEventListener("input", onFormChange);
</script>
{% endblock %}
