{% extends 'base.html' %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block wrap %}
<div id="reply-comment">
<h2>Reply to <a href={{ parent.get_absolute_url }}>{{ parent.user }}'s comment</a></h2>
<p>{{ parent.text }}</p>
<p>Created at {{ parent.created_at|time:"h:i A" }} on {{ parent.created_at|date:"F d, Y" }}</p>
<form action="{% url 'reply_forum_comment' parent.pk %}" method="POST">
  {% csrf_token %}
  <textarea name="body"></textarea>
  <input type="submit" value="Submit">
</form>
</div>
{% endblock %}
