{% extends 'base.html' %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block title %}
<title>CRIM | {{ post_title }}</title>
{% endblock %}

{% block wrap %}

<h1><a href="{% url 'forum-list' %}">Forum</a></h1>

{% autoescape off %}
<h3>{{ html_title }}</h3>
{% endautoescape %}

{{ post_text }}

<div id="comment-tree">
{% autoescape off %}
{{ comment_tree }}
{% endautoescape %}
</div>

<div id="comment-form">
<form action="{% url 'forum-reply' post.post_id %}" method="POST">
  {% csrf_token %}
  <textarea name="body"></textarea>
  <button type="submit" class="btn btn-info" value="Reply" disabled>Reply</button>
</form>
</div>

<script>
  // Disable the reply button whenever the body is empty.
  let submit = document.querySelector("#comment-form button[type='submit']");
  let textArea = document.querySelector("#comment-form textarea");

  textArea.addEventListener("input", event => {
    if (textArea.value.trim() === "") {
      submit.disabled = true;
    } else {
      submit.disabled = false;
    }
  });
</script>
{% endblock %}
