{% extends 'base.html' %}

{% block wrap %}
<h1>{{ post.title }}</h1>
<p>{{ post.text }}</p>
<p>Created at {{ post.created_at }}</p>

<form action="{% url 'create_forum_comment' post.pk %}" method="POST">
  {% csrf_token %}
  <textarea name="body"></textarea>
  <input type="submit" value="Submit">
</form>

{% autoescape off %}
{{ comment_tree }}
{% endautoescape %}

<!--
{% for comment in comments %}
{% if comment.user %}
<h3>{{ comment.user.user.username }} at {{ comment.created_at }}</h3>
{% endif %}
<p>{{ comment.text }}</p>
{% endfor %}
-->
{% endblock %}
