{% load crispy_forms_tags %}
{% load concat_str %}
{% load dict_lookup %}

<html>
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Continuo styles override -->
  <link rel="stylesheet" href="/static/continuo.css">
  <style>

    .cnt-container .cnt-pagination {
      position: absolute;
      top: auto;
      right: 85px;
    }
    .cnt-container .cnt-emabox {
      position: absolute;
      top: auto;
      left: auto;
      max-width: 85%;
    }
  </style>
  </head>
  <body>
    <div class="shadow-none p-4 mt-4 mb-4 bg-light">
      <div class="text-center">
        {% if not copy %}
        <h1>Edit Relationship &lt;R{{relationship.id}}&gt;</h1>
        {% else %}
        <h1>Copy Relationship {% if relationship.id %}&lt;R{{relationship.id}}&gt;{% endif %}</h1>
        {% endif %}
        </div>
      <br /><br />
      <form id="form" method="post" >
      <!--
        {{ relationship }}
        {{ relationship.model_observation }}
        {{ relationship.derivative_observation }}
      -->
      {% csrf_token %}

      {% if not copy %}
      <input type="hidden" name="relationship_id" id="relationship_id" value="{{ relationship.id }}" >
      <input type="hidden" name="model-observation-id" id="model-observation-id" value="{{ relationship.model_observation.id }}" >
      <input type="hidden" name="derivative-observation-id" id="derivative-observation-id" value="{{ relationship.derivative_observation.id }}" >
      {% endif %}

      <input type="hidden" name="definition" id="definition" value="{{ current_definition_id }}">

      {% if not copy %}
      <input type="hidden" name="observer" id="id_observer" value="{{ relationship.observer.person_id }}">
      {% else %}
      <div class="row-sm">
        {% comment %}"If the user does not have an associated PersonID, log the username at least, but alert the user"{% endcomment %}
        <input type="hidden" name="observer" id="id_observer" value="{% if user.profile.person.person_id %}{{ user.profile.person.person_id }}{% else %}{{ user }}{% endif %}">
        {% if not user.profile.person.person_id %}
          <p>
            <strong>Please ask for a CRIM&nbsp;Person record to be added to your account.</strong>
            Your submission may not be recorded otherwise.
            <!-- Your submission will be logged, but it must be reviewed and your name
            must be manually added to it later; your submission will only appear after
            review. When your name is recorded in the list of <a href="/people/">CRIM&nbsp;People</a>, your
            submission will appear right away. -->
          </p>
          <p>You may also simply need to <a href="/accounts/login/">log in</a>.</p>
        {% endif %}
      </div>
      {% endif %}

      <div class="relationship">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          {% for type in relationship_definition %}
            <!-- {{ type.name }} == {{ relationship.relationship_type }} -->
            {% if type.name == relationship.relationship_type %}
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#relationship-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#relationship-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <!-- Tab panes -->

        <div class="tab-content">
          <p></p>
          {% for type in relationship_definition %}
            {% with rel_details=relationship|get_rel_details:type.name %}
              <!-- {{ rel_details }} {{ rel_details|obj_type }} {{ type.name }} -->
              <div class="tab-pane container fade {% if type.name == relationship.relationship_type %}show active{% endif %}" id="relationship-{{ type.name|slugify }}">
                <div class="relationship-{{ type.name|slugify }}"></div>
                {% for subtype in type.subtypes %}
                  {% with detail_value=rel_details|lookup:subtype.name %}
                    <!-- {{ detail_value }} {{ detail_value|obj_type }} -->
                    {% if subtype.form == "boolean" %}
                      <div class="form-check">
                        {% if detail_value %}
                          <input class="form-check-input" type="checkbox" name="relationship-{{ type.name|concat_str:subtype.name }}" value="true" id="relationship-{{ type.name|concat_str:subtype.name }}" checked="true" >
                        {% else %}
                          <input class="form-check-input" type="checkbox" name="relationship-{{ type.name|concat_str:subtype.name }}" value="true" id="relationship-{{ type.name|concat_str:subtype.name }}" >
                        {% endif %}
                        <input name="relationship-{{ type.name|concat_str:subtype.name }}" type="hidden" value="{{ detail_value|lower }}">
                        <label class="form-check-label" for="relationship-{{ type.name|concat_str:subtype.name }}">{{ subtype.name.capitalize }}</label>
                      </div>
                    {% elif subtype.form == "radio" %}
                      <input name="relationship-{{ type.name|concat_str:subtype.name }}" type="hidden" value="{{ detail_value }}">
                      {{ subtype.name.capitalize }}:
                      <div id="relationship-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                        {% for option in subtype.options %}
                          <div class="form-check form-check-inline">
                            {% if detail_value == option %}
                              <input class="form-check-input" type="radio" name="relationship-{{ type.name|concat_str:subtype.name }}" value="{{ option }}" id="relationship-{{ type.name|concat_str:subtype.name }}" checked="true" >
                            {% else %}
                              <input class="form-check-input" type="radio" name="relationship-{{ type.name|concat_str:subtype.name }}" value="{{ option }}" id="relationship-{{ type.name|concat_str:subtype.name }}">
                            {% endif %}
                            <label class="form-check-label" for="relationship-{{ type.name|concat_str:subtype.name }}">{{ option.capitalize }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              </div>
            {% endwith %}
          {% endfor %}
        </div>
        <br />
        <label for="relationship-remarks">Remarks for relationship:</label><br>
        <textarea name="relationship-remarks" cols="50" rows="3">{{ relationship.remarks }}</textarea>
        <br /><br />

        <div class="form-check">
          {% if relationship.curated %}
            <input class="form-check-input" type="checkbox" name="relationship-curated" value="true" id="relationship-curated" checked="true" >
          {% else %}
            <input class="form-check-input" type="checkbox" name="relationship-curated" value="true" id="relationship-curated" >
          {% endif %}
          <input name="relationship-curated" type="hidden" value="{{ relationship.curated|lower }}">
          <label class="form-check-label" for="relationship-curated">Curated Relationship</label>
        </div>
      </div>

      <p><br></p>

      <div class="text-left">
        <h4>I. Model observation</h4>
      </div>

      <fieldset class="model-form">
        <div class="shadow-none p-5 mb-5 text-secondary bg-white rounded" name="model-observation-form" id="model-observation-form">
            <div class="model">
              <div class="mb-5">
                <select name="model-piece" id="model-piece">
                  {% for piece in all_pieces %}
                    {% if piece.piece_id == relationship.model_observation.piece.piece_id %}
                      <option value="{{ piece.piece_id }}" data-piece-url="{{ piece.mei_links }}" selected="true" >[{{ piece.piece_id }}] {{ piece.title }}</option>
                    {% else %}
                      <option value="{{ piece.piece_id }}" data-piece-url="{{ piece.mei_links }}">[{{ piece.piece_id }}] {{ piece.title }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="mb-5" id="model-continuo">
                <p><strong>Music reference (EMA): </strong><em id="emaModel">{{relationship.model_observation.ema}}</em></p>
                <input name="model-ema" type="hidden" value="{{relationship.model_observation.ema}}" id="emaModelData">
                <p>
                  <button id="buttonModelContinuo" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseModelContinuo" aria-expanded="false" aria-controls="collapseModelContinuo">
                    Choose music notation
                  </button>
                </p>
                <div class="collapse" id="collapseModelContinuo">
                  <div class="card card-body">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Loading music notation selector.
                  </div>
                </div>
              </div>
              <!-- Nav pills -->
              <ul class="nav nav-pills">
                {% for type in observation_definition %}
                  <li class="nav-item"><a class="nav-link {% if type.name == relationship.model_observation.musical_type %}active{% endif %}" data-toggle="tab" href="#model-{{ type.name|slugify }}" data-obs-type="{{ type.name }}" >{{ type.name.capitalize }}</a></li>
                {% endfor %}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                {% for type in observation_definition %}
                  {% with obs_details=relationship.model_observation|get_obs_details:type.name %}
                    <div class="tab-pane container fade {% if type.name == relationship.model_observation.musical_type %}show active{% endif %}" id="model-{{ type.name|slugify }}">
                      <div class="model-{{ type.name|slugify }}"></div>
                      {% for subtype in type.subtypes %}
                        {% with detail_value=obs_details|lookup:subtype.name %}
                          <!-- {{ detail_value }} {{ detail_value|obj_type }} -->
                          {% if subtype.form == "boolean" %}
                            <div class="form-check">
                              {% if detail_value %}
                                <input class="form-check-input" type="checkbox" name="model-{{ type.name|concat_str:subtype.name }}" value="true" id="model-{{ type.name|concat_str:subtype.name }}" checked="true" >
                              {% else %}
                                <input class="form-check-input" type="checkbox" name="model-{{ type.name|concat_str:subtype.name }}" value="true" id="model-{{ type.name|concat_str:subtype.name }}" >
                              {% endif %}
                              <input name="model-{{ type.name|concat_str:subtype.name }}" type="hidden" value="{{ detail_value|lower }}" >
                              <label class="form-check-label" for="model-{{ type.name|concat_str:subtype.name }}">{{ subtype.name.capitalize }}</label>
                            </div>
                          {% elif subtype.form == "text" %}
                            <div class="form-group row">
                              <label for="model-{{ type.name|concat_str:subtype.name }}" class="col-sm col-form-label"> {{ subtype.name.capitalize }} </label>
                              <div class="col-sm">
                                <input class="form-control form-control-sm" id="model-{{ type.name|concat_str:subtype.name }}" name="model-{{ type.name|concat_str:subtype.name }}" pattern="[0-9]{1}" value="{{ detail_value|rel_formatter }}" >
                              </div>
                            </div>
                          {% elif subtype.form == "radio" %}
                            <input name="model-{{ type.name|concat_str:subtype.name }}" type="hidden" value="{{ detail_value }}" >
                            {{ subtype.name.capitalize }}:
                            <div id="model-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                              {% for option in subtype.options %}
                                <div class="form-check form-check-inline">
                                  {% if detail_value == option %}
                                    <input class="form-check-input" type="radio" name="model-{{ type.name|concat_str:subtype.name }}" value="{{option}}" id="model-{{ type.name|concat_str:subtype.name }}" checked="true" >
                                  {% else %}
                                    <input class="form-check-input" type="radio" name="model-{{ type.name|concat_str:subtype.name }}" value="{{option}}" id="model-{{ type.name|concat_str:subtype.name }}">
                                  {% endif %}
                                  <label class="form-check-label" for="model-{{ type.name|concat_str:subtype.name }}">{{ option.capitalize }}</label>
                                </div>
                              {% endfor %}
                            </div>
                          {% elif subtype.form == "checkbox" %}
                            {{ subtype.name.capitalize }}:
                            <div id="model-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                              {% for option in subtype.options %}
                                <div class="form-check form-check-inline">
                                  {% if detail_value == option %}
                                    <input class="form-check-input" type="checkbox" name="model-{{ type.name|concat_str:subtype.name }}[]" value="{{ option }}" id="model-{{ type.name|concat_str:subtype.name|concat_str:option }}" checked="true" >
                                  {% else %}
                                    <input class="form-check-input" type="checkbox" name="model-{{ type.name|concat_str:subtype.name }}[]" value="{{ option }}" id="model-{{ type.name|concat_str:subtype.name|concat_str:option }}">
                                  {% endif %}
                                  <label class="form-check-label" for="model-{{ type.name|concat_str:subtype.name|concat_str:option }}">{{ option.capitalize }}</label>
                                </div>
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% endwith %}
                      {% endfor %}
                    </div>
                  {% endwith %}
                {% endfor %}
              </div>
              <br />
              <label for="model-remarks">Remarks for model:</label><br>
              <textarea name="model-remarks" cols="50" rows="3">{{ relationship.model_observation.remarks }}</textarea>
              <br /><br />

              <div class="form-check">
                {% if relationship.model_observation.curated %}
                  <input class="form-check-input" type="checkbox" name="model-curated" value="true" id="model-curated" checked="true" >
                {% else %}
                  <input class="form-check-input" type="checkbox" name="model-curated" value="true" id="model-curated" >
                {% endif %}
                <input name="model-curated" type="hidden" value="{{ relationship.model_observation.curated|lower }}">
                <label class="form-check-label" for="model-curated">Curated Model Observation</label>
              </div>
            </div>
          </div>
        </fieldset>

        <hr>
        <fieldset class="derivative-form">
          <div class="text-left">
            <h4>II. Derivative observation</h4>
          </div>

          <div class="shadow-none p-5 mb-5 text-secondary bg-white rounded" name="derivative-observation-form" id="derivative-observation-form">
            <div class="derivative">
              <div class="mb-5">
                <select name="derivative-piece" id="derivative-piece">
                  {% for piece in all_pieces %}
                    {% if piece.piece_id == relationship.derivative_observation.piece.piece_id %}
                      <option value="{{ piece.piece_id }}" data-piece-url="{{ piece.mei_links }}" selected="true" >[{{ piece.piece_id }}] {{ piece.title }}</option>
                    {% else %}
                      <option value="{{ piece.piece_id }}" data-piece-url="{{ piece.mei_links }}">[{{ piece.piece_id }}] {{ piece.title }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="mb-5" id="derivative-continuo">
                <p><strong>Music reference (EMA):</strong> <em id="emaDerivative">{{relationship.derivative_observation.ema}}</em></p>
                <input name="derivative-ema" type="hidden" value="{{relationship.derivative_observation.ema}}" id="emaDerivativeData">
                <p>
                  <button id="buttonDerivativeContinuo" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDerivativeContinuo" aria-expanded="false" aria-controls="collapseDerivativeContinuo">
                    Choose music notation
                  </button>
                </p>
                <div class="collapse" id="collapseDerivativeContinuo">
                  <div class="card card-body">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Loading music notation selector.
                  </div>
                </div>
              </div>
              <!-- Nav pills -->
              <ul class="nav nav-pills">
                {% for type in observation_definition %}
                  <li class="nav-item"><a class="nav-link {% if type.name == relationship.derivative_observation.musical_type %}active{% endif %}" data-toggle="pill" href="#derivative-{{ type.name|slugify }}" data-obs-type="{{ type.name }}">{{ type.name.capitalize }}</a></li>
                {% endfor %}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                {% for type in observation_definition %}
                  {% with obs_details=relationship.derivative_observation|get_obs_details:type.name %}
                    <div class="tab-pane container fade {% if type.name == relationship.derivative_observation.musical_type %}show active{% endif %}" id="derivative-{{ type.name|slugify }}">
                      <div class="derivative-{{ type.name|slugify }}"></div>
                      {% for subtype in type.subtypes %}
                        {% with detail_value=obs_details|lookup:subtype.name %}
                          <!-- {{ detail_value }} {{ detail_value|obj_type }} -->
                          {% if subtype.form == "boolean" %}
                            <div class="form-check">
                              {% if detail_value %}
                                <input class="form-check-input" type="checkbox" name="derivative-{{ type.name|concat_str:subtype.name }}" value="true" id="derivative-{{ type.name|concat_str:subtype.name }}" checked="true" >
                              {% else %}
                                <input class="form-check-input" type="checkbox" name="derivative-{{ type.name|concat_str:subtype.name }}" value="true" id="derivative-{{ type.name|concat_str:subtype.name }}" >
                              {% endif %}
                              <input name="derivative-{{ type.name|concat_str:subtype.name }}" type="hidden" value="{{ detail_value }}" >
                              <label class="form-check-label" for="derivative-{{ type.name|concat_str:subtype.name }}">{{ subtype.name.capitalize }}</label>
                            </div>
                          {% elif subtype.form == "text" %}
                            <div class="form-group row">
                              <label for="derivative-{{ type.name|concat_str:subtype.name }}" class="col-sm col-form-label"> {{ subtype.name.capitalize }} </label>
                              <div class="col-sm">
                                <input class="form-control form-control-sm" id="derivative-{{ type.name|concat_str:subtype.name }}" name="derivative-{{ type.name|concat_str:subtype.name }}" value="{{ detail_value|rel_formatter }}" >
                              </div>
                            </div>
                          {% elif subtype.form == "radio" %}
                            <input name="derivative-{{ type.name|concat_str:subtype.name }}" type="hidden" value="{{ detail_value }}" >
                            {{ subtype.name.capitalize }}:
                            <div id="derivative-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                              {% for option in subtype.options %}
                                <div class="form-check form-check-inline">
                                  {% if detail_value == option %}
                                    <input class="form-check-input" type="radio" name="derivative-{{ type.name|concat_str:subtype.name }}" value="{{option}}" id="derivative-{{ type.name|concat_str:subtype.name }}" checked="true" >
                                  {% else %}
                                    <input class="form-check-input" type="radio" name="derivative-{{ type.name|concat_str:subtype.name }}" value="{{option}}" id="derivative-{{ type.name|concat_str:subtype.name }}">
                                  {% endif %}
                                  <label class="form-check-label" for="derivative-{{ type.name|concat_str:subtype.name }}">{{ option.capitalize }}</label>
                                </div>
                              {% endfor %}
                            </div>
                          {% elif subtype.form == "checkbox" %}
                            {{ subtype.name.capitalize }}:
                            <div id="derivative-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                              {% for option in subtype.options %}
                                <div class="form-check form-check-inline">
                                  {% if detail_value == option %}
                                    <input class="form-check-input" type="checkbox" name="derivative-{{ type.name|concat_str:subtype.name }}[]" value="{{ option }}" id="derivative-{{ type.name|concat_str:subtype.name|concat_str:option }}" checked="true" >
                                  {% else %}
                                    <input class="form-check-input" type="checkbox" name="derivative-{{ type.name|concat_str:subtype.name }}[]" value="{{ option }}" id="derivative-{{ type.name|concat_str:subtype.name|concat_str:option }}">
                                  {% endif %}
                                  <label class="form-check-label" for="derivative-{{ type.name|concat_str:subtype.name|concat_str:option }}">{{ option.capitalize }}</label>
                                </div>
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% endwith %}
                      {% endfor %}
                    </div>
                  {% endwith %}
                {% endfor %}
              </div>
              <br />
              <label for="derivative-remarks">Remarks for derivative:</label><br>
              <textarea name="derivative-remarks" cols="50" rows="3">{{ relationship.derivative_observation.remarks }}</textarea>
              <br /><br />

              <div class="form-check">
                {% if relationship.derivative_observation.curated %}
                  <input class="form-check-input" type="checkbox" name="derivative-curated" value="true" id="derivative-curated" checked="true" >
                {% else %}
                  <input class="form-check-input" type="checkbox" name="derivative-curated" value="true" id="derivative-curated" >
                {% endif %}
                <input name="derivative-curated" type="hidden" value="{{ relationship.derivative_observation.curated|lower }}">
                <label class="form-check-label" for="derivative-curated">Curated Derivative Observation</label>
              </div>
            </div>
          </div>
        </fieldset>

        <input type="hidden" id="relationship-selected-tab" name="relationship-selected-tab" value="{{ relationship.relationship_type }}" >
        <input type="hidden" id="model-selected-tab" name="model-selected-tab" value="{{ relationship.model_observation.musical_type }}" >
        <input type="hidden" id="derivative-selected-tab" name="derivative-selected-tab" value="{{ relationship.derivative_observation.musical_type }}" >
        <input class="btn btn-primary" type="submit" name="Submit" value="Submit" >
        <input class="btn btn-cancel" type="button" name="Cancel" value="Cancel" id="cancel" >

      </form>
    </div>

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/continuo.js"></script>
    <script src="/static/ema-mei.js"></script>

    {{ singular_voice_fields|json_script:"singular-voice-fields" }}
    {{ plural_voice_fields|json_script:"plural-voice-fields" }}

    <script>

        // make checkboxes true false value
        $("input:checkbox").change(function () {
            $(this).parent().find('input:hidden').val($(this).is(':checked'));
        });

        // Setup Continuo
        function setContinuo(el, ver, opts, MEIurl, emaEl) {
            let target = document.querySelector(el)
            let defaultOpts = {
                pageWidth: target.offsetWidth * 100 / 35,
                ignoreLayout: 1,
                adjustPageHeight: 1,
                border: 10,
                scale: 35
            }
            opts = opts ? opts : defaultOpts
            $(el).empty()
            var cnt = new Continuo({el: el, mei: MEIurl, verovioToolkit: ver, paginate: true, verovioOptions: opts})
            cnt.render()

            const storedEma = $(emaEl+"Data")
            if (storedEma) {
                const ema = storedEma.val()
                const expr = encodeURIComponent(MEIurl) + "/" + ema + "/highlight"

                EmaMei.withFullExpr(expr).then(function (r) {
                    // The result:
                    const selection = r.getSelection().querySelector('*|annot')
                    if (selection) {
                        for (const id of selection.getAttribute("plist").split(' ')) {
                            if ($(id).length > 0) {
                                cnt.addMusEventFromId(id.replace('#', ''))
                            }
                        }
                    }
                    })
                    .catch(function (err) {
                        console.log(err)
                    })
            }

            // Observe EMA string to add it to the form.
            var observer = new MutationObserver(function(mutations) {
                const emaBox = target.querySelector(".cnt-emaexpr-expr")
                if (emaBox) {
                    $(emaEl).text(emaBox.innerText)
                    $(emaEl+"Data").val($(emaEl).text())
                }
            });
            observer.observe(target, { childList: true, subtree: true })
        };

        // universal validation for relationship/model/derivative tabs
        function validateTab(currentTab) {
            var currentName = currentTab.id.split("-").slice(1).join("");

            if (currentName == "cantusfirmus") {
                var voiceInput = document.getElementById(currentTab.id + "-voice");
                voiceInput.pattern = "\\d";
                voiceInput.placeholder = "e.g. 1";

                // the radio form (default & unrequired)
                var radioButtons = document.getElementsByName(currentTab.id + "-features");
                for (var i = 0; i < radioButtons.length; i++) {
                    radioButtons[i].removeAttribute("required");
                    if (radioButtons[i].value == "both pitches and durations") {
                        radioButtons[i].checked = "true";
                    }
                }


            } else if (currentName == "soggetto") {
                var voiceInput = document.getElementById(currentTab.id + "-voice");
                voiceInput.pattern = "\\d";
                voiceInput.placeholder = "e.g. 1";

                var radioButtons = document.getElementsByName(currentTab.id + "-features");
                for (var i = 0; i < radioButtons.length; i++) {
                    radioButtons[i].removeAttribute("required");
                    if (radioButtons[i].value == "both pitches and durations") {
                        radioButtons[i].checked = "true";
                    }
                }


            } else if (currentName == "countersoggetto") {
                var voiceInput = document.getElementById(currentTab.id + "-voice");
                voiceInput.pattern = "\\d";
                voiceInput.placeholder = "e.g. 1";

                var radioButtons = document.getElementsByName(currentTab.id + "-features");
                for (var i = 0; i < radioButtons.length; i++) {
                    radioButtons[i].removeAttribute("required");
                    if (radioButtons[i].value == "both pitches and durations") {
                        radioButtons[i].checked = "true";
                    }
                }


            } else if (currentName == "contrapuntalduo") {
                var voiceInput = document.getElementById(currentTab.id + "-voices");
                voiceInput.pattern = "\\d,\\d";
                voiceInput.placeholder = "e.g. 1,2";


            } else if (currentName == "fuga") {
                var voiceInput = document.getElementById(currentTab.id + "-voices");
                var entryInput = document.getElementById(currentTab.id + "-entry-intervals");
                var timeInput = document.getElementById(currentTab.id + "-time-intervals");

                voiceInput.pattern = "\\d(,\\d)+";
                voiceInput.placeholder = "e.g. 2,3";
                entryInput.pattern = "(\\d{1,2}[\\+-])+";
                entryInput.placeholder = "e.g. 1+2-";
                timeInput.pattern = "[LBSM]\\d{1,2}(\\/\\d{1,2})*";
                timeInput.placeholder = "e.g. S2/3";


            } else if (currentName == "imitativeduo") {
                // imitative duo formatting
                var voiceInput = document.getElementById(currentTab.id + "-voices");
                var entryInput = document.getElementById(currentTab.id + "-entry-intervals");
                var timeInput = document.getElementById(currentTab.id + "-time-intervals");

                voiceInput.pattern = "\\d,\\d(,\\d,\\d)*";
                voiceInput.placeholder = "e.g. 2,3,2,4";
                entryInput.pattern = "(\\d{1,2}[\\+-])+";
                entryInput.placeholder = "e.g. 1+2-";
                timeInput.pattern = "[LBSM]\\d{1,2}(\\/\\d{1,2})*";
                timeInput.placeholder = "e.g. B2/3";


            } else if (currentName == "periodicentry") {
                // periodic entry formatting
                var voiceInput = document.getElementById(currentTab.id + "-voices");
                var entryInput = document.getElementById(currentTab.id + "-entry-intervals");
                var timeInput = document.getElementById(currentTab.id + "-time-intervals");

                voiceInput.pattern = "\\d,\\d(,\\d)+";
                voiceInput.placeholder = "e.g. 2,3...";
                entryInput.pattern = "(\\d{1,2}[\\+-])+";
                entryInput.placeholder = "e.g. 1+2-";
                timeInput.pattern = "[LBSM]\\d{1,2}(\\/\\d{1,2})*";
                timeInput.placeholder = "e.g. S2/3";


            } else if (currentName == "nonimitativeduo") {
                // non-imitative duo formatting
                var voiceInput = document.getElementById(currentTab.id + "-voices");
                var entryInput = document.getElementById(currentTab.id + "-entry-intervals");
                var timeInput = document.getElementById(currentTab.id + "-time-intervals");

                voiceInput.pattern = "\\d,\\d(,\\d,\\d)*";
                voiceInput.placeholder = "e.g. 2,3";
                entryInput.pattern = "(\\d{1,2}[\\+-])+";
                entryInput.placeholder = "e.g. 1+2-";
                timeInput.pattern = "[LBSM]\\d{1,2}(\\/\\d{1,2})*";
                timeInput.placeholder = "e.g. S2/3";


            } else if (currentName == "homorhythm") {
                // homorhythm formatting
                var voiceInput = document.getElementById(currentTab.id + "-voices");
                voiceInput.pattern = "\\d,\\d(,\\d)+";
                voiceInput.placeholder = "e.g. 1,1...";


            } else if (currentName == "cadence") {
                // cadence formatting
                var cantizansInput = document.getElementById(currentTab.id + "-cantizans");
                var tenorizansInput = document.getElementById(currentTab.id + "-tenorizans");
                var dovetailInput = document.getElementById(currentTab.id + "-dovetail-cadence-voice");

                cantizansInput.removeAttribute("required");
                cantizansInput.pattern = "\\d?";
                cantizansInput.placeholder = "e.g. 2";
                tenorizansInput.removeAttribute("required");
                tenorizansInput.pattern = "\\d?";
                tenorizansInput.placeholder = "e.g. 2";
                dovetailInput.removeAttribute("required");
                dovetailInput.pattern = "\\d?";
                dovetailInput.placeholder = "e.g. 3";

                var radioButtons = document.getElementsByName(currentTab.id + "-dovetail-position");
                for (var i = 0; i < radioButtons.length; i++) {
                    radioButtons[i].removeAttribute("required");
                }


            } else if (currentName == "quotation") {
                //quotation validation
                var radioSelfButtons = document.getElementsByName(currentTab.id + "-self");
                for (var i = 0; i < radioSelfButtons.length; i++) {
                    radioSelfButtons[i].removeAttribute("required");
                }


            } else if (currentName == "mechanicaltransformation") {
                // mechanical transformation validation
                var radioSelfButtons = document.getElementsByName(currentTab.id + "-self");
                for (var i = 0; i < radioSelfButtons.length; i++) {
                    radioSelfButtons[i].removeAttribute("required");
                }


            } else if (currentName == "nonmechanicaltransformation") {
                // non mechanical transformation validation
                var radioExtentButtons = document.getElementsByName(currentTab.id + "-extent");
                var radioActivityButtons = document.getElementsByName(currentTab.id + "-activity");
                var radioSelfButtons = document.getElementsByName(currentTab.id + "-self");

                for (var i = 0; i < radioExtentButtons.length; i++) {
                    radioExtentButtons[i].removeAttribute("required");
                    if (radioExtentButtons[i].value == "not changed") {
                        radioExtentButtons[i].checked = "true";
                    }
                }

                for (var i = 0; i < radioActivityButtons.length; i++) {
                    radioActivityButtons[i].removeAttribute("required");
                    if (radioActivityButtons[i].value == "not changed") {
                        radioActivityButtons[i].checked = "true";
                    }
                }

                for (var i = 0; i < radioSelfButtons.length; i++) {
                    radioSelfButtons[i].removeAttribute("required");
                    if (radioSelfButtons[i].value == "none") {
                        radioSelfButtons[i].checked = "true";
                    }
                }
            }
        }

        // sets the current relationship tab inputs to required
        function setRequired(kind) {
            const inputs = $(`.${kind} .tab-content .active input`);
            for (let idx = 0; idx < inputs.length; ++idx) {
                const input = inputs[idx];
                if (input.type != 'checkbox') {
                    input.required = true;
                }
            }
        }

        // resets all required relationship flags to unrequired
        function clearRequired(kind) {
            const inputs = $(`.${kind} .tab-content input`);
            for (let idx = 0; idx < inputs.length; ++idx) {
                const input = inputs[idx];
                input.removeAttribute('required');
            }
        }

        $(document).ready(function() {

            // Set a place for Verovio
            let ver = null

            $('#id_model_observation').select2();
            $('#id_derivative_observation').select2();

            Object.entries({
                relationship:   [ 'rel-type', 'nav-tabs' ],
                model:          [ 'obs-type', 'nav-pills' ],
                derivative:     [ 'obs-type', 'nav-pills' ],
            }).forEach(entry => {
                const [ kind, [ dataKey, tabClass ] ] = entry;
                const activeTabs = $(`.${kind} .tab-content`).find('.active');
                if (activeTabs.length > 0) {
                    // Set the value for the active tab
                    $(`#${kind}-selected-tab`).val(activeTabs.data(dataKey));
                    // Validate the initial active tab
                    validateTab(activeTabs[0]);
                }

                $(`.${kind} .${tabClass} a`).on('shown.bs.tab', function(event) {
                    // active tab
                    const selected = $(event.target).data(dataKey);
                    const activeTabs = $(`.${kind} .tab-content`).find(".active");
                    if (activeTabs.length == 0) {
                        return;
                    }
                    const activeTab = activeTabs[0];
                    
                    console.log(`Activated Tab: ${activeTab.id}`);
                    
                    clearRequired(kind);
                    setRequired(kind);
                    validateTab(activeTab);
                    $(`#${kind}-selected-tab`).val(selected);
                });
            });

            $(".nav-tabs a").click(function() { $(this).tab('show'); });
            $(".nav-pills a").click(function() { $(this).tab('show'); });

            $('#collapseModelContinuo').on('show.bs.collapse', function () {
                $('#buttonModelContinuo').text("Hide music notation")
                $("#collapseDerivativeContinuo").collapse('hide')
                MEIurl = $("#model-piece option:selected").data('piece-url')
                // MEIurl = MEIurl.replace('https://crim', 'https://dev.crim')
                if (!ver) {
                    console.log('Loading Verovio for the first time...')
                    $.getScript( "https://www.verovio.org/javascript/latest/verovio-toolkit.js", function( data, textStatus, jqxhr ) {
                        if (jqxhr.status === 200) {
                            ver = new verovio.toolkit()
                            setContinuo("#collapseModelContinuo", ver, null, MEIurl, "#emaModel")
                        } else {
                            $('#collapseModelContinuo').text("Could not load Verovio. Refresh the page and try again.")
                        }
                    });
                } else {
                    setContinuo("#collapseModelContinuo", ver, null, MEIurl, "#emaModel")
                }
            })
            .on('hide.bs.collapse', function () {
                $("#buttonModelContinuo").text("Choose music notation")
            })

            $("#model-piece").on('change', function() {
              // clear EMA
              $("#emaModel").text("")
              $("#emaModel-data").val("")
              // Hide music
              $("#collapseModelContinuo").collapse('hide')
            })

            $('#collapseDerivativeContinuo').on('show.bs.collapse', function () {
                $("#buttonDerivativeContinuo").text("Hide music notation")
                $("#collapseDerivativeContinuo").collapse('hide')
                MEIurl = $("#derivative-piece option:selected").data('piece-url')
                // MEIurl = MEIurl.replace('https://crim', 'https://dev.crim')
                if (!ver) {
                    console.log('Loading Verovio for the first time...')
                    $.getScript( "https://www.verovio.org/javascript/latest/verovio-toolkit.js", function( data, textStatus, jqxhr ) {
                        if (jqxhr.status === 200) {
                            ver = new verovio.toolkit()
                            $('#collapseDerivativeContinuo').empty()
                            setContinuo("#collapseDerivativeContinuo", ver, null, MEIurl, "#emaDerivative")
                        } else {
                            $('#collapseDerivativeContinuo').text("Could not load Verovio. Refresh the page and try again.")
                        }
                    });
                } else {
                    setContinuo("#collapseDerivativeContinuo", ver, null, MEIurl, "#emaDerivative")
                }
            })
            .on('hide.bs.collapse', function () {
                $("#buttonDerivativeContinuo").text("Choose music notation")
            })

        });

        $("#derivative-piece").on('change', function() {
              // clear EMA
              $("#emaDerivative").text("")
              $("#emaDerivative-data").val("")
              // Hide music
              $("#collapseDerivativeContinuo").collapse('hide')
            })
        
        // Add the cancel button action to take the user back to the details page
        $('#cancel').on('click', function() {
          const url = '{{ back_url }}';
          window.location.href = url;
        });

        // GET ALL FORM INPUT AS JSON
        const form = document.getElementById("form");
        form.addEventListener("submit", handleFormSubmit)

        async function handleFormSubmit(event) {
          event.preventDefault();
          const form = event.currentTarget;
          {% if not copy %}
          const url = '/data/relationships/{{ relationship.id }}/';
          {% else %}
          const url = '/data/relationships/new/';
          {% endif %}

          const rawFormData = new FormData(form);
          const strippedFormData = Object.fromEntries(rawFormData.entries());

          function valueToPrimitive(value) {
            switch (value) {
              case 'null': return null;
              case 'true': return true;
              case 'false': return false;

              default: break;
            }
            return value;
          }

          function simplifyFormData(data, objectType, MRType) {
            let simplifiedData = {};
            for (let key of Object.keys(data)) {
              // Include only if this key is the right object (for example,
              // a relationship) and is of the right musical or relationship
              // type (for example, fuga).
              if (key.startsWith(objectType + '-' + MRType) && !key.includes('selected-tab') && !key.includes('remarks')) {
                // Remove "relationship-" and "fuga-" (for example) from the
                // key actually added to the jsonfield.
                let keyName = key.replace((objectType + '-' + MRType + '-'), '');
                // Now if it's a voice field, we need to do special handling
                // to make sure that we have it encoded as an integer or list
                // instead of a string.
                const singularVoiceFields = JSON.parse(document.getElementById('singular-voice-fields').textContent);
                const pluralVoiceFields = JSON.parse(document.getElementById('plural-voice-fields').textContent);
                if (singularVoiceFields.includes(keyName)) {
                  simplifiedData[keyName.replaceAll('-', ' ')] = parseInt(data[key], 10);
                } else if (pluralVoiceFields.includes(keyName)) {
                  simplifiedData[keyName.replaceAll('-', ' ')] = (data[key].split(',')).map(n => parseInt(n, 10));
                } else if (keyName.includes('[]')) {
                  // For checkboxes, use JavaScript to get the values of everything
                  // in the list and add it to an array.
                  console.log(key);
                  let checkboxes = document.getElementsByName(key);
                  let listOfValues = [];
                  for (var i=0, len=checkboxes.length; i<len; i++) {
                    if (checkboxes[i].checked) {
                      listOfValues.push(checkboxes[i].value);
                    }
                  }
                  simplifiedData[keyName.replaceAll('-', ' ').replaceAll('[]', '')] = listOfValues;
                } else {
                  // If it's null, true, or false, save that value instead of a string
                  simplifiedData[keyName.replaceAll('-', ' ')] = valueToPrimitive(data[key]);
                }
              }
            }
            return simplifiedData;
          }

          function getMassagedData(formData) {
            let massagedData = {};

            massagedData['csrfmiddlewaretoken'] = formData['csrfmiddlewaretoken'];
            massagedData['observer'] = formData['observer'];
            massagedData['model_observation'] = formData['model_observation'];
            massagedData['derivative_observation'] = formData['derivative_observation'];

            {% if not copy %}
            massagedData['model_observation_id'] = formData['model-observation-id'];
            {% endif %}
            massagedData['model_definition'] = formData['definition'];
            massagedData['model_piece'] = formData['model-piece'];
            massagedData['model_ema'] = formData['model-ema'];
            massagedData['model_musical_type'] = formData['model-selected-tab'].replaceAll('-', ' ');
            massagedData['model_details'] = simplifyFormData(formData, 'model', formData['model-selected-tab']);
            massagedData['model_remarks'] = formData['model-remarks'];
            massagedData['model_curated'] = valueToPrimitive(formData['model-curated']);

            {% if not copy %}
            massagedData['derivative_observation_id'] = formData['derivative-observation-id'];
            {% endif %}
            massagedData['derivative_definition'] = formData['definition'];
            massagedData['derivative_piece'] = formData['derivative-piece'];
            massagedData['derivative_ema'] = formData['derivative-ema'];
            massagedData['derivative_musical_type'] = formData['derivative-selected-tab'].replaceAll('-', ' ');
            massagedData['derivative_details'] = simplifyFormData(formData, 'derivative', formData['derivative-selected-tab']);
            massagedData['derivative_remarks'] = formData['derivative-remarks'];
            massagedData['derivative_curated'] = valueToPrimitive(formData['derivative-curated']);
            
            massagedData['definition'] = formData['definition'];
            massagedData['relationship_type'] = formData['relationship-selected-tab'].replace('relationship-','').replaceAll('-', ' ');
            massagedData['details'] = simplifyFormData(formData, 'relationship', formData['relationship-selected-tab']);
            massagedData['remarks'] = formData['relationship-remarks'];
            massagedData['curated'] = valueToPrimitive(formData['relationship-curated']);

            return massagedData;
          }

          // Ajax request for model

          try {
            const massagedData = getMassagedData(strippedFormData);
            const stringData = JSON.stringify(massagedData);

            $.ajax({
              {% if not copy %}
              type:'PATCH',
              {% else %}
              type:'POST',
              {% endif %}
              url: url,
              data: stringData,
              contentType: "application/json",
              headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "X-CSRFToken": massagedData['csrfmiddlewaretoken']
              },
              success: function(response){
                console.log(stringData);
                console.log(response);
                alert("Data was succesfully captured");
              },
              error: function(response){
                console.log(stringData);
                console.log(response);
                if (response.status == 401) {
                  alert('You do not have permission to complete the requested operation');
                } else {
                  alert("Error with input data, please check again");
                }
              },
            });
          } catch (error) {
            console.log(getMassagedData(strippedFormData));
            console.error(error);
          }
        }

    </script>

  </body>
</html>
