{% if relationship.rt_q %}
  <h3>Quotation</h3>
  <p><strong>Musical type:</strong> {{ relationship.musical_type }}</p>
  <p><strong>Exact:</strong> {{ relationship.rt_q_x }}</p>
  <p><strong>Monnayage:</strong> {{ relationship.rt_q_monnayage }}</p>
{% endif %}
{% if relationship.rt_tm %}
  <h3>Mechanical transformation</h3>
  <p><strong>Musical type:</strong> {{ relationship.musical_type }}</p>
  <p><strong>Sounding in different voice(s):</strong> {{ relationship.rt_tm_snd }}</p>
  <p><strong>Melodically inverted:</strong> {{ relationship.rt_tm_minv }}</p>
  <p><strong>Retrograde:</strong> {{ relationship.rt_tm_retrograde }}</p>
  <p><strong>Metrically shifted:</strong> {{ relationship.rt_tm_ms }}</p>
  <p><strong>Transposed:</strong> {{ relationship.rt_tm_transposed }}</p>
  <p><strong>Double or invertible counterpoint:</strong> {{ relationship.rt_tm_invertible }}</p>
{% endif %}
{% if relationship.rt_tnm %}
  <h3>Non-mechanical transformation</h3>
  <p><strong>Musical type:</strong> {{ relationship.musical_type }}</p>
  <p><strong>Embellished:</strong> {{ relationship.rt_tnm_embellished }}</p>
  <p><strong>Reduced:</strong> {{ relationship.rt_tnm_reduced }}</p>
  <p><strong>Amplified:</strong> {{ relationship.rt_tnm_amplified }}</p>
  <p><strong>Truncated:</strong> {{ relationship.rt_tnm_truncated }}</p>
  <p><strong>New counter-subject:</strong> {{ relationship.rt_tnm_ncs }}</p>
  <p><strong>Old counter-subject shifted:</strong> {{ relationship.rt_tnm_ocs }}</p>
  <p><strong>Old counter-subject transposed:</strong> {{ relationship.rt_tnm_ocst }}</p>
  <p><strong>New combination:</strong> {{ relationship.rt_tnm_nc }}</p>
{% endif %}
{% if relationship.rt_nm %}
  <h3>New material</h3>
  <p><strong>Musical type:</strong> {{ relationship.musical_type }}</p>
{% endif %}
{% if relationship.rt_om %}
  <h3>Omission</h3>
  <p><strong>Musical type:</strong> {{ relationship.musical_type }}</p>
{% endif %}