{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}
{% load newlinereplace %}
{% load newlineplural %}
{% load firstitem %}

{% block title %}
  <title>
    CRIM | Relationship &lt;R{{ content.pk }}&gt;
    {% if content.model_observation.piece.mass %}
      {{ content.model_observation.piece.mass.title }}:
    {% endif %}
    {{ content.model_observation.piece.title }}
    &rarr;
    {% if content.derivative_observation.piece.mass %}
      {{ content.derivative_observation.piece.mass.title }}:
    {% endif %}
    {{ content.derivative_observation.piece.title }}
  </title>
{% endblock %}

{% block wrap %}
  <hgroup class="page-title">
    <h1>
      {% if content.model_observation.piece.mass %}
        {{ content.model_observation.piece.mass.title }}:
      {% endif %}
      {{ content.model_observation.piece.title }}
      &rarr;
      {% if content.derivative_observation.piece.mass %}
        {{ content.derivative_observation.piece.mass.title }}:
      {% endif %}
      {{ content.derivative_observation.piece.title }}
        <small>&lt;R{{ content.pk }}&gt;</small>
      </h1>
    <h2>Observer: <a href="{{ content.observer.url|htmlsite }}">{{ content.observer.name }}</a></h2>
  </hgroup>

  <div class="row">
    <div class="span4">
      {% with relationship=content %}
        {% include "relationship/relationship_expanded.html" %}
      {% endwith %}
    </div>
    <div class="span8">
      {% if content.remarks %}
        <h3>&nbsp;</h3>
        <p><strong>Remarks:</strong> {{ content.remarks }}</p>
      {% endif %}
    </div>
  </div>
  
  <div class="row">
    <div class="span10">
      <div class="row">
        <div id="model-header" class="span8">
          <h2>
            Model: {{ content.model_composers_with_urls|safe }},
            {% if content.model_observation.piece.mass %}
              <a href="{{ content.model_observation.piece.mass.url|htmlsite }}">{{ content.model_observation.piece.mass.title }}</a>:
            {% endif %}
            <a href="{{ content.model_observation.piece.url|htmlsite }}">{{ content.model_observation.piece.title }}</a>
          </h2>
        </div>
        <div id="cw-model-controls" class="span2 pull-right">
          <div class="btn-group" role="group" aria-label="Score control button group">
            <button type="button" class="btn btn-primary cw-prev">&lt;</button>
            <button type="button" class="btn btn-primary cw-show">show</button>
            <button type="button" class="btn btn-primary cw-next">&gt;</button>
          </div>
        </div>
        </div>
      <div id="modelScore" class="cw-score"></div>
    </div>
    <div class="span2">
      <h2 class="margin"><small><a href="{{ content.model_observation.url|htmlsite }}">&lt;{{ content.model_observation.pk }}&gt;</a></small></h2>
      {% with observation=model_observation %}
        {% include "observation/observation_expanded.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <div class="row">
        <div id="derivative-header" class="span8">
          <h2>
              Derivative: {{ content.derivative_composers_with_urls|safe }},
            {% if content.derivative_observation.piece.mass %}
              <a href="{{ content.derivative_observation.piece.mass.url|htmlsite }}">{{ content.derivative_observation.piece.mass.title }}</a>:
            {% endif %}
            <a href="{{ content.derivative_observation.piece.url|htmlsite }}">{{ content.derivative_observation.piece.title }}</a>
            </h2>
        </div>
        <div id="cw-derivative-controls" class="span2 pull-right">
          <div class="btn-group" role="group" aria-label="Score control button group">
            <button type="button" class="btn btn-primary cw-prev">&lt;</button>
            <button type="button" class="btn btn-primary cw-show">show</button>
            <button type="button" class="btn btn-primary cw-next">&gt;</button>
          </div>
        </div>
      </div>
      <div id="derivativeScore" class="cw-score"></div>
    </div>
    <div class="span2">
      <h2 class="margin"><small><a href="{{ content.derivative_observation.url|htmlsite }}">&lt;{{ content.derivative_observation.pk }}&gt;</a></small></h2>
      {% with observation=content.derivative_observation %}
        {% include "observation/observation_expanded.html" %}
      {% endwith %}
    </div>
  </div>

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

  <script type="text/JavaScript" src="/static/js/verovio/verovio-toolkit.js"></script>
  <script type="text/JavaScript" src="/static/js/cw/cw.js"></script>

  <script>
    var vrv = new window.verovio.toolkit()
    var cwModel = new CrimViewer({
      mei: '{{ content.model_observation.piece.mei_links|firstitem }}',
      ema: '{{ content.model_observation.ema }}',
      vrv: vrv,
      div: 'modelScore',
      controls: 'cw-model-controls'
    })
    cwModel.render()
    var cwDerivative = new CrimViewer({
      mei: '{{ content.derivative_observation.piece.mei_links|firstitem }}',
      ema: '{{ content.derivative_observation.ema }}',
      vrv: vrv,
      div: 'derivativeScore',
      controls: 'cw-derivative-controls'
    })
    cwDerivative.render()
  </script>

{% endblock %}
