<html>
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Continuo styles override -->
  <link rel="stylesheet" href="/static/continuo.css">
  <style>
    .cnt-container .cnt-pagination {
      position: absolute;
      top: auto;
      right: 85px;
    }
    .cnt-container .cnt-emabox {
      position: absolute;
      top: auto;
      left: auto;
      max-width: 85%;
    }
  </style>
  </head>
  <body>
    {% load crispy_forms_tags %}
    {% load concat_str %}

    <div class="shadow-none p-4 mt-4 mb-4 bg-light">
      <div class="text-center">
        <h1>Create a relationship instance</h1>
      </div>
      <form id="form">
      {% csrf_token %}

      <input type="hidden" name="definition" id="definition" value="{{ current_definition_id }}">

      <div class="row-sm">
        {% comment %}"If the user does not have an associated PersonID, log the username at least,
          but alert the user"{% endcomment %}
        <input type="hidden" name="observer" id="id_observer" value="{% if user.profile.person.person_id %}{{ user.profile.person.person_id }}{% else %}{{ user }}{% endif %}">
        {% if not user.profile.person.person_id %}
          <p>
            <strong>Please ask for a CRIM&nbsp;Person record to be added to your account.</strong>
            Your submission may not be recorded otherwise.
            <!-- Your submission will be logged, but it must be reviewed and your name
            must be manually added to it later; your submission will only appear after
            review. When your name is recorded in the list of <a href="/people/">CRIM&nbsp;People</a>, your
            submission will appear right away. -->
          </p>
          <p>You may also simply need to <a href="/accounts/login/">log in</a>.</p>
        {% endif %}
      </div>
      <div class="relationship">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          {% for type in relationship_definition %}
            {% if forloop.first %}
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#relationship-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#relationship-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <!-- Tab panes -->

        <div class="tab-content">
          <p></p>
          {% for type in relationship_definition %}
            <div class="tab-pane container fade {% if forloop.first %}show active{% endif %}" id="relationship-{{ type.name|slugify }}">
              <div class="relationship-{{ type.name|slugify }}"></div>
              {% for subtype in type.subtypes %}
                {% if subtype.form == "boolean" %}
                  <div class="form-check">
                    <input class="form-check-input" type='checkbox' name="relationship-{{ type.name|concat_str:subtype.name }}" value='true' id="relationship-{{ type.name|concat_str:subtype.name }}">
                    <input name="relationship-{{ type.name|concat_str:subtype.name }}" type='hidden' value='false'>
                    <label class='form-check-label' for="relationship-{{ type.name|concat_str:subtype.name }}">{{ subtype.name.capitalize }}</label>
                  </div>

                {% elif subtype.form == "radio" %}
                  <input name="relationship-{{ type.name|concat_str:subtype.name }}" type='hidden' value='None'>
                  {{ subtype.name.capitalize }}:
                  <div id="relationship-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                    {% for option in subtype.options %}
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="relationship-{{ type.name|concat_str:subtype.name }}" value="{{ option }}" id="relationship-{{ type.name|concat_str:subtype.name }}">
                        <label class="form-check-label" for="relationship-{{ type.name|concat_str:subtype.name }}">{{ option.capitalize }}</label>
                      </div>
                    {% endfor %}
                  </div>

                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
          <label for="relationship-remarks">Remarks for relationship:</label><br>
          <textarea name="relationship-remarks" cols="50" rows="3"></textarea>
        </div>
      </div>

      <p><br></p>

      <div class="text-left">
        <h4>I. Model observation</h4>
      </div>
      <!-- <br><p><i>Select an existing observation as model observation</i></p>
      <div class="row-sm">
        {{form.model_observation|as_crispy_field}}
      </div>
      <p></p>
      <p><b>OR</b></p>
      <p><i>Create a new observation as model observation</i></p>
      <p></p> -->

      <fieldset class="model-form">
        <div class="shadow-none p-5 mb-5 text-secondary bg-white rounded" name="model-observation-form" id="model-observation-form">
            <div class="model">
              <div class="mb-5">
                <select name="model-piece" id="model-piece">
                  {% for piece in all_pieces %}
                    <option value="{{ piece.piece_id }}" data-piece-url="{{ piece.mei_links }}">[{{ piece.piece_id }}] {{ piece.title }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-5" id="model-continuo">
                <p><strong>Music reference (EMA): </strong><em id="emaModel"></em></p>
                <input name="model-ema" type='hidden' value='' id="emaModelData">
                <p>
                  <button id="buttonModelContinuo" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseModelContinuo" aria-expanded="false" aria-controls="collapseModelContinuo">
                    Choose music notation
                  </button>
                </p>
                <div class="collapse" id="collapseModelContinuo">
                  <div class="card card-body">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Loading music notation selector.
                  </div>
                </div>
              </div>
              <!-- Nav pills -->
              <ul class="nav nav-pills">
                {% for type in observation_definition %}
                  {% if forloop.first %}
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#model-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#model-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                {% for type in observation_definition %}
                  <div class="tab-pane container fade {% if forloop.first %}show active{% endif %}" id="model-{{ type.name|slugify }}">
                    <div class="model-{{ type.name|slugify }}"></div>
                    {% for subtype in type.subtypes %}

                      {% if subtype.form == "boolean" %}
                        <div class="form-check">
                          <input class="form-check-input" type='checkbox' name="model-{{ type.name|concat_str:subtype.name }}" value='true' id="model-{{ type.name|concat_str:subtype.name }}">
                          <input name="model-{{ type.name|concat_str:subtype.name }}" type='hidden' value='false'>
                          <label class='form-check-label' for="model-{{ type.name|concat_str:subtype.name }}">{{ subtype.name.capitalize }}</label>
                        </div>

                      {% elif subtype.form == "text" %}
                        <div class="form-group row">
                          <label for="model-{{ type.name|concat_str:subtype.name }}" class="col-sm col-form-label"> {{ subtype.name.capitalize }} </label>
                          <div class="col-sm">
                            <input class="form-control form-control-sm" id="model-{{ type.name|concat_str:subtype.name }}" name="model-{{ type.name|concat_str:subtype.name }}">
                          </div>
                        </div>

                      {% elif subtype.form == "radio" %}
                        <input name="model-{{ type.name|concat_str:subtype.name }}" type='hidden' value='None'>
                        {{ subtype.name.capitalize }}:
                        <div id="model-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                          {% for option in subtype.options %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="model-{{ type.name|concat_str:subtype.name }}" value="{{option}}" id="model-{{ type.name|concat_str:subtype.name }}">
                              <label class="form-check-label" for="model-{{ type.name|concat_str:subtype.name }}">{{ option.capitalize }}</label>
                            </div>
                          {% endfor %}
                        </div>

                      {% elif subtype.form == "checkbox" %}
                        {{ subtype.name.capitalize }}:
                        <div id="model-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                          {% for option in subtype.options %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type='checkbox' name="model-{{ type.name|concat_str:option }}" value="{{option}}" id="model-{{ type.name|concat_str:option }}">
                              <label class='form-check-label' for="model-{{ type.name|concat_str:option }}">{{ option.capitalize }}</label>
                            </div>
                          {% endfor %}
                        </div>

                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
              <label for="model-remarks">Remarks for model:</label><br>
              <textarea name="model-remarks" cols="50" rows="3"></textarea>
            </div>
          </div>
        </fieldset>

        <hr>
        <fieldset class="derivative-form">
          <div class="text-left">
            <h4>II. Derivative observation</h4>
          </div>
          <!-- <br>
          <p><i>Select an existing observation as derivative observation</i></p>
          <div class="row-sm">
            {{form.derivative_observation|as_crispy_field}}
          </div>
          <p></p>
          <p><b>OR</b></p>
          <p><i>Create a new observation as derivative observation</i></p>
          <p></p> -->

          <div class="shadow-none p-5 mb-5 text-secondary bg-white rounded" name="derivative-observation-form" id="derivative-observation-form">
            <div class="derivative">
              <div class="mb-5">
                <select name="derivative-piece" id="derivative-piece">
                  {% for piece in all_pieces %}
                    <option value="{{ piece.piece_id }}" data-piece-url="{{ piece.mei_links }}">[{{ piece.piece_id }}] {{ piece.title }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-5" id="derivative-continuo">
                <p><strong>Music reference (EMA):</strong> <em id="emaDerivative"></em></p>
                <input name="derivative-ema" type='hidden' value='' id="emaDerivativeData">
                <p>
                  <button id="buttonDerivativeContinuo" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDerivativeContinuo" aria-expanded="false" aria-controls="collapseDerivativeContinuo">
                    Choose music notation
                  </button>
                </p>
                <div class="collapse" id="collapseDerivativeContinuo">
                  <div class="card card-body">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    Loading music notation selector.
                  </div>
                </div>
              </div>
              <!-- Nav pills -->
              <ul class="nav nav-pills">
                {% for type in observation_definition %}
                  {% if forloop.first %}
                    <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#derivative-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
                  {% else %}
                    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#derivative-{{ type.name|slugify }}">{{ type.name.capitalize }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                {% for type in observation_definition %}
                  <div class="tab-pane container fade {% if forloop.first %}show active{% endif %}" id="derivative-{{ type.name|slugify }}">
                    <div class="derivative-{{ type.name|slugify }}"></div>
                    {% for subtype in type.subtypes %}

                      {% if subtype.form == "boolean" %}
                        <div class="form-check">
                          <input class="form-check-input" type='checkbox' name="derivative-{{ type.name|concat_str:subtype.name }}" value='true' id="derivative-{{ type.name|concat_str:subtype.name }}">
                          <input name="derivative-{{ type.name|concat_str:subtype.name }}" type='hidden' value='false'>
                          <label class='form-check-label' for="derivative-{{ type.name|concat_str:subtype.name }}">{{ subtype.name.capitalize }}</label>
                        </div>

                      {% elif subtype.form == "text" %}
                        <div class="form-group row">
                          <label for="derivative-{{ type.name|concat_str:subtype.name }}" class="col-sm col-form-label"> {{ subtype.name.capitalize }} </label>
                          <div class="col-sm">
                            <input class="form-control form-control-sm" id="derivative-{{ type.name|concat_str:subtype.name }}" name="derivative-{{ type.name|concat_str:subtype.name }}">
                          </div>
                        </div>

                      {% elif subtype.form == "radio" %}
                        <input name="derivative-{{ type.name|concat_str:subtype.name }}" type='hidden' value='None'>
                        {{ subtype.name.capitalize }}:
                        <div id="derivative-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                          {% for option in subtype.options %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="derivative-{{ type.name|concat_str:subtype.name }}" value="{{option}}" id="derivative-{{ type.name|concat_str:subtype.name }}">
                              <label class="form-check-label" for="derivative-{{ type.name|concat_str:subtype.name }}">{{ option.capitalize }}</label>
                            </div>
                          {% endfor %}
                        </div>

                      {% elif subtype.form == "checkbox" %}
                        {{ subtype.name.capitalize }}:
                        <div id="derivative-{{ type.name|concat_str:subtype.name }}" style="margin-left:50px;">
                          {% for option in subtype.options %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type='checkbox' name="derivative-{{ type.name|concat_str:option }}" value="{{option}}" id="derivative-{{ type.name|concat_str:option }}">
                              <label class='form-check-label' for="derivative-{{ type.name|concat_str:option }}">{{ option.capitalize }}</label>
                            </div>
                          {% endfor %}
                        </div>

                      {% endif %}

                    {% endfor %}
                    </div>
                {% endfor %}
              </div>
              <label for="derivative-remarks">Remarks for derivative:</label><br>
              <textarea name="derivative-remarks" cols="50" rows="3"></textarea>
            </div>
          </div>
        </fieldset>

        <input type="hidden" id="relationship-selected-tab" name="relationship-selected-tab">
        <input type="hidden" id="model-selected-tab" name="model-selected-tab">
        <input type="hidden" id="derivative-selected-tab" name="derivative-selected-tab">
        <p><br></p>
        <input class="btn btn-primary" type="submit" name="Submit" value="Submit">

      </form>
    </div>

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/continuo.js"></script>
    <script src="/static/ema-mei.js"></script>

    <script>

        // make checkboxes true false value
        $("input:checkbox").change(function () {
            $(this).parent().find('input:hidden').val($(this).is(':checked'));
        });

        // Setup Continuo
        function setContinuo(el, ver, opts, MEIurl, emaEl) {
            let target = document.querySelector(el)
            let defaultOpts = {
                pageWidth: target.offsetWidth * 100 / 35,
                ignoreLayout: 1,
                adjustPageHeight: 1,
                border: 10,
                scale: 35
            }
            opts = opts ? opts : defaultOpts
            $(el).empty()
            var cnt = new Continuo({el: el, mei: MEIurl, verovioToolkit: ver, paginate: true, verovioOptions: opts})
            cnt.render()

            const storedEma = $(emaEl+"Data")
            if (storedEma) {
                const ema = storedEma.val()
                const expr = encodeURIComponent(MEIurl) + "/" + ema + "/highlight"

                EmaMei.withFullExpr(expr).then(function (r) {
                    // The result:
                    const selection = r.getSelection().querySelector('*|annot')
                    if (selection) {
                        for (const id of selection.getAttribute("plist").split(' ')) {
                            if ($(id).length > 0) {
                                cnt.addMusEventFromId(id.replace('#', ''))
                            }
                        }
                    }
                    })
                    .catch(function (err) {
                        console.log(err)
                    })
            }

            // Observe EMA string to add it to the form.
            var observer = new MutationObserver(function(mutations) {
                const emaBox = target.querySelector(".cnt-emaexpr-expr")
                if (emaBox) {
                    $(emaEl).text(emaBox.innerText)
                    $(emaEl+"Data").val($(emaEl).text())
                }
            });
            observer.observe(target, { childList: true, subtree: true })
        }

        $(document).ready(function(){

            // Set a place for Verovio
            var ver = null

            $('#id_model_observation').select2();
            $('#id_derivative_observation').select2();

            var activeTab = $(".relationship .tab-content").find(".active");
            var id = activeTab.attr('id');
            $("#relationship-selected-tab").val(id);


            var modelActiveTab = $(".model .tab-content").find(".active");
            var id1 = modelActiveTab.attr('id');
            $("#model-selected-tab").val(id1.replace("model-", ""));

            var derivativeActiveTab = $(".derivative .tab-content").find(".active");
            var id2 = derivativeActiveTab.attr('id');
            if (id2.length > 0)
                $("#derivative-selected-tab").val(id2.replace("derivative-", ""));


            $(".nav-tabs a").click(function(){
                $(this).tab('show');
            });

            $(".nav-pills a").click(function(){
                $(this).tab('show');
            });

            $(".relationship .nav-tabs a").on('shown.bs.tab', function(event){
                var x = $(event.target).text();         // active tab
                var selected = x.replace(/\s+/g, '-').toLowerCase();
                $("#relationship-selected-tab").val(selected);
            });

            $(".model .nav-pills a").on('shown.bs.tab', function(event){
                var x1 = $(event.target).text();         // active model tab
                var selected1 = x1.replace(/\s+/g, '-').toLowerCase();
                $("#model-selected-tab").val(selected1);
            });

            $(".derivative .nav-pills a").on('shown.bs.tab', function(event){
                var x2 = $(event.target).text();         // active serivative tab
                var selected2 = x2.replace(/\s+/g, '-').toLowerCase();
                $("#derivative-selected-tab").val(selected2);
            });

            $('#collapseModelContinuo').on('show.bs.collapse', function () {
                $("#buttonModelContinuo").text("Hide music notation")
                $("#collapseDerivativeContinuo").collapse('hide')
                MEIurl = $("#model-piece option:selected").data('piece-url')
                // MEIurl = MEIurl.replace('https://crim', 'https://dev.crim')
                if (!ver) {
                    console.log('Loading Verovio for the first time...')
                    $.getScript( "https://www.verovio.org/javascript/latest/verovio-toolkit.js", function( data, textStatus, jqxhr ) {
                        if (jqxhr.status === 200) {
                            ver = new verovio.toolkit()
                            setContinuo("#collapseModelContinuo", ver, null, MEIurl, "#emaModel")
                        } else {
                            $('#collapseModelContinuo').text("Could not load Verovio. Refresh the page and try again.")
                        }
                    });
                } else {
                    setContinuo("#collapseModelContinuo", ver, null, MEIurl, "#emaModel")
                }
            })
            .on('hide.bs.collapse', function () {
                $("#buttonModelContinuo").text("Choose music notation")
            })

            $("#model-piece").on('change', function() {
              // clear EMA
              $("#emaModel").text("")
              $("#emaModel-data").val("")
              // Hide music
              $("#collapseModelContinuo").collapse('hide')
            })

            $('#collapseDerivativeContinuo').on('show.bs.collapse', function () {
                $("#buttonDerivativeContinuo").text("Hide music notation")
                $("#collapseDerivativeContinuo").collapse('hide')
                MEIurl = $("#derivative-piece option:selected").data('piece-url')
                // MEIurl = MEIurl.replace('https://crim', 'https://dev.crim')
                if (!ver) {
                    console.log('Loading Verovio for the first time...')
                    $.getScript( "https://www.verovio.org/javascript/latest/verovio-toolkit.js", function( data, textStatus, jqxhr ) {
                        if (jqxhr.status === 200) {
                            ver = new verovio.toolkit()
                            $('#collapseDerivativeContinuo').empty()
                            setContinuo("#collapseDerivativeContinuo", ver, null, MEIurl, "#emaDerivative")
                        } else {
                            $('#collapseDerivativeContinuo').text("Could not load Verovio. Refresh the page and try again.")
                        }
                    });
                } else {
                    setContinuo("#collapseDerivativeContinuo", ver, null, MEIurl, "#emaDerivative")
                }
            })
            .on('hide.bs.collapse', function () {
                $("#buttonDerivativeContinuo").text("Choose music notation")
            })

        });

        $("#derivative-piece").on('change', function() {
              // clear EMA
              $("#emaDerivative").text("")
              $("#emaDerivative-data").val("")
              // Hide music
              $("#collapseDerivativeContinuo").collapse('hide')
            })

        // GET ALL FORM INPUT AS JSON
        const form = document.getElementById("form");
        form.addEventListener("submit", handleFormSubmit)

        async function handleFormSubmit(event) {
          event.preventDefault();
          const form = event.currentTarget;
          // const url = 'http://127.0.0.1:8000/data/relationships/new/';
          const url = 'https://dev.crimproject.org/data/relationships/new/';

          const rawFormData = new FormData(form);
          const strippedFormData = Object.fromEntries(rawFormData.entries());

          function simplifyFormData(data, objectType, MRType) {
            let simplifiedData = {};
            for (let key of Object.keys(data)) {
              // Include only if this key is the right object (for example,
              // a relationship) and is of the right musical or relationship
              // type (for example, fuga).
              if (key.startsWith(objectType + '-' + MRType) && !key.includes('selected-tab') && !key.includes('remarks')) {
                // Remove "relationship-" and "fuga-" (for example) from the
                // key actually added to the jsonfield.
                let keyName = key.replace((objectType + '-' + MRType + '-'), '');
                // Now if it's a voice field, we need to do special handling
                // to make sure that we have it encoded as an integer or list
                // instead of a string.
                if (key.endsWith('voice')) {
                  simplifiedData[keyName.replaceAll('-', ' ')] = parseInt(data[key], 10);
                }
                else if (key.endsWith('voices')) {
                  simplifiedData[keyName.replaceAll('-', ' ')] = (data[key].split(',')).map(n => parseInt(n, 10));
                }
                else {
                  simplifiedData[keyName.replaceAll('-', ' ')] = data[key];
                }
              }
            }
            return simplifiedData;
          }

          function getMassagedData(formData) {
            let massagedData = {};

            massagedData['csrfmiddlewaretoken'] = formData['csrfmiddlewaretoken'];
            massagedData['observer'] = formData['observer'];
            massagedData['model_observation'] = formData['model_observation'];
            massagedData['derivative_observation'] = formData['derivative_observation'];

            massagedData['model_definition'] = formData['definition'];
            massagedData['model_piece'] = formData['model-piece'];
            massagedData['model_ema'] = formData['model-ema'];
            massagedData['model_musical_type'] = formData['model-selected-tab'].replaceAll('-', ' ');
            massagedData['model_details'] = simplifyFormData(formData, 'model', formData['model-selected-tab']);
            massagedData['model_remarks'] = formData['model-remarks'];

            massagedData['derivative_definition'] = formData['definition'];
            massagedData['derivative_piece'] = formData['derivative-piece'];
            massagedData['derivative_ema'] = formData['derivative-ema'];
            massagedData['derivative_musical_type'] = formData['derivative-selected-tab'].replaceAll('-', ' ');
            massagedData['derivative_details'] = simplifyFormData(formData, 'derivative', formData['derivative-selected-tab']);
            massagedData['derivative_remarks'] = formData['derivative-remarks'];

            massagedData['definition'] = formData['definition'];
            massagedData['relationship_type'] = formData['relationship-selected-tab'].replace('relationship-','').replaceAll('-', ' ');
            massagedData['details'] = simplifyFormData(formData, 'relationship', formData['relationship-selected-tab']);
            massagedData['remarks'] = formData['relationship-remarks'];

            return massagedData;
          }

          // Ajax request for model

          try {
            const massagedData = getMassagedData(strippedFormData);
            const stringData = JSON.stringify(massagedData);

            $.ajax({
              type:'POST',
              url: url,
              data: stringData,
              contentType: "application/json",
              headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "X-CSRFToken": massagedData['csrfmiddlewaretoken']
              },
              success: function(response){
                console.log(stringData);
                console.log(response);
                alert("Data was succesfully captured");
              },
              error: function(response){
                console.log(stringData);
                console.log(response);
                alert("Error with input data, please check again");
              },
            });
          } catch (error) {
            console.error(error);
          }
        }

    </script>

  </body>
</html>
