{% extends "base.html" %}
{% load markdown %}
{% load shorten %}
{% load static %}
{% load sortable_header %}



{% block title %}
<title>CRIM | Models</title>
{% endblock %}

{% block wrap %}
<div class="row-fluid">
  <div class="span12">
    <div class="show-heading row-fluid">
      <hgroup class="show-title page-title span12">
        <h1>Models</h1>
      </hgroup>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-white table-bordered table-hover">
      <thead>
        <tr>
          <th>{% sortable_header "Piece ID" "order_by" "piece_id" True %}</th>
          <th>{% sortable_header "Title" "order_by" "full_title" %}</th>
          <th>{% sortable_header "Composer" "order_by" "composer__name_sort" %}</th>
          <th>{% sortable_header "Genre" "order_by" "genre" %}</th>
          <th>{% sortable_header "Voices" "order_by" "number_of_voices" %}</th>
          <th>{% sortable_header "Date" "order_by" "date_sort" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for piece in content %}
          <tr>
            <td>
              {% for pdf_link in piece.pdf_links %}
                <a href="{{ pdf_link }}">
                  <img src="{% static 'img/pdfdownload.png' %}" height=21 />
                </a>
              {% endfor %}
              {% for mei_link in piece.mei_links %}
                <a href="{{ mei_link }}">
                  <img src="{% static 'img/meidownload.png' %}" height=16 />
                </a>
              {% endfor %}
              <a href="{{ piece.url|htmlsite }}">[{{ piece.piece_id }}]</a>
            </td>
            <td>{{ piece.full_title }}</td>
            <td><a href="{{ piece.composer.url|htmlsite }}">{{ piece.composer.name }}</a></td>
            <td><a href="{{ piece.genre.url|htmlsite }}">{{ piece.genre.name }}</a></td>
            <td>{% if piece.number_of_voices %}{{ piece.number_of_voices }}{% else %}-{% endif %}</td>
            <td>{% if piece.date %}{{ piece.date }}{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
