{% extends "base.html" %}
{% load markdown %}
{% load shorten %}
{% load static %}
{% load people %}
{% load earliest_date %}

{% block title %}
<title>CRIM | Models</title>
{% endblock %}

{% block wrap %}
<div class="row-fluid">
  <div class="span12">
    <div class="show-heading row-fluid">
      <hgroup class="show-title page-title span12">
        <h1>Models</h1>
      </hgroup>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-white table-bordered table-hover">
      <thead>
        <tr>
          <th><a href="?order_by=piece_id">Piece ID</a></th>
          <th><a href="?order_by=title">Title</a></th>
          <th><a href="?order_by=genre">Genre</a></th>
          <th>Composer</th>
          <th><a href="?order_by=number_of_voices">Voices</a></th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for piece in content %}
          <tr>
            <td>
              {% for pdf_link in piece.pdf_links %}
                <a href="{{ pdf_link }}">
                  <img src="{% static 'img/pdfdownload.png' %}" height=21 />
                </a>
              {% endfor %}
              {% for mei_link in piece.mei_links %}
                <a href="{{ mei_link }}">
                  <img src="{% static 'img/meidownload.png' %}" height=16 />
                </a>
              {% endfor %}
              <a href="{{ piece.url|htmlsite }}">[{{ piece.piece_id }}]</a>
            </td>
            <td>{{ piece.title }}</td>
            <td><a href="{{ piece.genre.url|htmlsite }}">{{ piece.genre.name }}</a></td>
            <td>{{ piece.roles|people:"composer"|safe }}</td>
            <td>{{ piece.voices|length }}</td>
            <td>{% if piece.roles|earliest_date:"composer" %}{{ piece.roles|earliest_date:"composer" }}{% elif piece.mass.roles|earliest_date:"composer" %}{{ piece.mass.roles|earliest_date:"composer" }}{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
