{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
<title>CRIM | {% if content.mass %}{{ content.mass.title }}: {% endif %}{{ content.title }}</title>
{% endblock %}

{% block wrap %}
  <h1>{{ content.title|apostrophe }}
    {% for pdf_link in content.pdf_links %}
      {% if pdf_link %}
        <a href="{{ pdf_link }}">
          <img src="{% static 'img/pdfdownload.png' %}" height=32 />
        </a>
      {% endif %}
    {% endfor %}
    {% for mei_link in content.mei_links %}
      {% if mei_link %} 
        <a href="{{ mei_link }}">
          <img src="{% static 'img/meidownload.png' %}" height=24 />
        </a>
      {% endif %}
    {% endfor %}
    <small>[{{ content.piece_id }}]</small>
  </h1>
  <div class="row-fluid">
    <div class="span9">
      <hgroup class="page-title">
        <h2>
          {% if content.mass %}From <a href="{{ content.mass.url|htmlsite }}">{{ content.mass.title }}</a>{% else %}{% if content.genre %}<a href="{{ content.genre.url|htmlsite }}">{{ content.genre.name }}</a>{% endif %}{% endif %}
        </h2>
        {% for role in content.roles %}
          <h3>{% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
            <a href="{{ role.person.url|htmlsite }}">{{ role.person.name }}</a>{% if role.date %}, {{ role.date }}{% endif %}
          </h3>
          {% if role.remarks %}<p class="subheading">{{ role.remarks }}</p>{% endif %}
        {% endfor %}
      </hgroup>
    </div>
    <div class="span3">
      <div class="well span12">
        <h3 class="well-heading">Piece details</h3>
        <h3 class="well-heading"><a href="{{ content.url|htmlsite }}observations/">Piece observations</a></h3>
        <h3 class="well-heading"><a href="{{ content.url|htmlsite }}relationships/">Piece relationships</a></h3>
      </div>
    </div>
  </div>

  {% with phrases=content.phrases %}
    {% include "piece/phrase_text.html" %}
  {% endwith %}

  <div id="pieceScore" class="cw-score"></div>

  {% with source=content.sources %}
    {% include "piece/piece_sources.html" %}
  {% endwith %}
  
  {% if content.remarks %}
    <h2>Remarks</h2>
    <p id="remarks-text">{{ content.remarks|markdown|safe }}</p>
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

  <script type="text/JavaScript" src="/static/js/verovio/verovio-toolkit.js"></script>
  <script type="text/JavaScript" src="/static/js/cw/cw.js"></script>

  <script>
    var vrv = new window.verovio.toolkit()
    var cwPiece = new CrimViewer({
      mei: '{{ content.mei_links|firstitem }}',
      ema: '',
      vrv: vrv,
      div: 'pieceScore',
      controls: 'cw-piece-controls'
    })
    cwPiece.render()
  </script>

{% endblock %}
