{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
<title>CRIM | {{ content.title }}</title>
{% endblock %}

{% block wrap %}
  <hgroup>
    <h1>{{ content.title|apostrophe }}
	  {% if content.pdf_link %}
	  <a href="{{ content.pdf_link }}"><img src="{% static 'img/pdfdownload.png' %}" height=32 /></a>
	  {% endif %}
	  {% if content.mei_link %}
	  <a href="{{ content.mei_link }}"><img src="{% static 'img/meidownload.png' %}" height=24 /></a>
	  {% endif %}
    </h1>
    <h2>{% if content.genre %}{{ content.genre.name }}{% endif %}</h2>
    <h2 class="multiline">
      {% for role in content.roles %}
        {% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
        {{ role.person.name }}{% if role.date %}, {{ role.date }}{% endif %}<br/>
      {% endfor %}
    </h2>
  </hgroup>
  
  <p id="remarks-text">{% if content.remarks %}{{ content.remarks|markdown|safe }}{% endif %}</p>

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
  <script>
    $(document).ready(function (){
      attachPhraseClickEvents();
      editRemarksAction();
      submitRemarksAction();
    });
  </script>

  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap-bundle.js"></script>


  <script type="text/javascript">
    // CSRF Token Protection lifted from Django documentation. Consider moving to main template
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
      (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
      // or any other URL that isn't scheme relative or absolute i.e relative.
      !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
              // Send the token to same-origin, relative URLs only.
              // Send the token only if the method warrants CSRF protection
              // Using the CSRFToken value acquired earlier
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  </script>

  <!-- <script src="{{ STATIC_URL }}js/notation.js"></script> -->

  <!-- meiView dependencies and scripts -->

  <script type="text/JavaScript" src="/static/js/vexflow/vexflow-min.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/Fabric-all.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/meitovexflow.min.js"></script>

  <script type="text/JavaScript" src="/static/js/dist/meiview.js"></script>
  <link rel="stylesheet" href="/static/css/dist/meiview.css"/>

{% endblock %}
