{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
<title>CRIM | {% if content.mass %}{{ content.mass.title }}: {% endif %}{{ content.title }}</title>
{% endblock %}

{% block wrap %}
  <h1>{{ content.title|apostrophe }}
    {% for pdf_link in content.pdf_links %}
      {% if pdf_link %}
        <a href="{{ pdf_link }}">
          <img src="{% static 'img/pdfdownload.png' %}" height=32 />
        </a>
      {% endif %}
    {% endfor %}
    {% for mei_link in content.mei_links %}
      {% if mei_link %} 
        <a href="{{ mei_link }}">
          <img src="{% static 'img/meidownload.png' %}" height=24 />
        </a>
      {% endif %}
    {% endfor %}
    <small>[{{ content.piece_id }}]</small>
  </h1>
  <div class="row-fluid">
    <div class="span9">
      <hgroup class="page-title">
        <h2>
          {% if content.mass %}From <a href="{{ content.mass.url|htmlsite }}">{{ content.mass.title }}</a>{% else %}{% if content.genre %}<a href="{{ content.genre.url|htmlsite }}">{{ content.genre.name }}</a>{% endif %}{% endif %}
        </h2>
        {% for role in content.roles %}
          <h3>{% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
            <a href="{{ role.person.url|htmlsite }}">{{ role.person.name }}</a>{% if role.date %}, {{ role.date }}{% endif %}
          </h3>
          {% if role.remarks %}<p class="subheading">{{ role.remarks }}</p>{% endif %}
        {% endfor %}
      </hgroup>
    </div>
    <div class="span3">
      <div class="well span12">
        <h3 class="well-heading"><a href="{{ content.url|htmlsite }}">Piece details</a></h3>
        <h3 class="well-heading">Piece observations</h3>
        <h3 class="well-heading"><a href="{{ content.url|htmlsite }}relationships/">Piece relationships</a></h3>
      </div>
    </div>
  </div>
  
  <h2>Observations</h2>
  {% if content.observations %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Observer</th>
          <th>Observation type</th>
          <th>Show details</th>
        </tr>
      </thead>
      <tbody>
        {% for observation in content.observations %}
           <tr>
             <td><a href="{{ observation.url|htmlsite }}">&lt;{{ observation.pk }}&gt;</a></td>
             <td><a href="{{ observation.observer.url|htmlsite }}">{{ observation.observer.name }}</a></td>
             <td>{% if observation.mt_cf %}Cantus firmus{% endif %}
                 {% if observation.mt_sog %}Soggetto{% endif %}
                 {% if observation.mt_csog %}Counter-soggetto{% endif %}
                 {% if observation.mt_fg %}Fuga{% endif %}
                 {% if observation.mt_id %}Imitative duo{% endif %}
                 {% if observation.mt_pe %}Periodic entry{% endif %}
                 {% if observation.mt_nid %}Non-imitative duo{% endif %}
                 {% if observation.mt_hr %}Homorhythm{% endif %}
                 {% if observation.mt_cad %}Cadence{% endif %}
                 {% if observation.mt_int %}Interval pattern{% endif %}
                 {% if observation.mt_fp %}Form and process{% endif %}
                 {% if not observation.mt_cf and not observation.mt_sog and not observation.mt_csog and not observation.mt_fg and not observation.mt_id and not observation.mt_pe and not observation.mt_nid and not observation.mt_hr and not observation.mt_cad and not observation.mt_int and not observation.mt_fp %}
                   None
                 {% endif %}
             </td>
             <td>
                {% if observation.mt_cf or observation.mt_sog or observation.mt_csog or observation.mt_fg or observation.mt_id or observation.mt_pe or observation.mt_nid or observation.mt_hr or observation.mt_cad or observation.mt_int or observation.mt_fp %}
                  <a href="#" class="observation-info-expand" target="observation-info-{{ forloop.counter }}">Expand</a>
                {% else %}
                  -
                {% endif %}
             </td>
           </tr>
           <tr id="observation-info-{{ forloop.counter }}" class="observation-info">
             <td colspan="4" class="expansion">
               {% include "observation/observation_expanded.html" %}
             </td>
           </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No observations associated with this piece.</p>
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <!-- Can't import all the jquery and bootstrap, since they conflict with each other -->
  <script type="text/JavaScript" src='{% static "js/jquery/src/effects.js" %}'></script>
  <script type="text/JavaScript" src='{% static "js/bootstrap/bootstrap-modal.js" %}'></script>
  <script type="text/JavaScript" src='{% static "js/bootstrap/bootstrap-transition.js" %}'></script>

  <script type="text/javascript">
    // This script expands and hides observation details
    $('.observation-info').hide();
    $('.observation-info-expand').on({
      'click': function(event) {
        event.preventDefault();
        tgt = "#" + $(this).attr('target');
        $(tgt).toggle();
        tag = $(this).text() == "Expand" ? "Collapse" : "Expand";
        $(this).text(tag);
        return false;
      }
    })
  </script>

{% endblock %}
