{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load scorenav %}
{% load static %}

{% block title %}
  <title>CRIM | {% if content.mass %}{{ content.mass.title }}:{% endif %} {{ content.title }}</title>
  <style>
    .cw-score { width: 100%; height: 500px }
    .cw-highlighted { color: #000000; fill: currentColor }
  </style>
{% endblock %}

{% block wrap %}
  <div class="row-fluid">
    <div class="span9">
      <hgroup class="page-title">
        <h1>
          {% if content.mass %}{{ content.mass.title|apostrophe }}:{% endif %} {{ content.title|apostrophe }}
          <!-- Don't include links for mass movements because they already appear at the sidebar -->
          {% if not content.mass %}
            {% for pdf_link in content.pdf_links %}
              {% if pdf_link %}
                <a href="{{ pdf_link }}">
                  <img src="{% static 'img/pdfdownload.png' %}" height=32 />
                </a>
              {% endif %}
            {% endfor %}
            {% for mei_link in content.mei_links %}
              {% if mei_link %}
                <a href="{{ mei_link }}">
                  <img src="{% static 'img/meidownload.png' %}" height=24 />
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
          <small>[{{ content.piece_id }}]</small>
        </h1>
        {% if content.genre %}
          <h2><a href="{{ content.genre.url|htmlsite }}">{{ content.genre.name }}</a></h2>
        {% endif %}
        {% for role in content.roles %}
          <h3>{% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
            <a href="{{ role.person.url|htmlsite }}">{{ role.person.name }}</a>{% if role.date %}, {{ role.date }}{% endif %}
          </h3>
          {% if role.remarks %}<p class="subheading">{{ role.remarks }}</p>{% endif %}
        {% endfor %}
      </hgroup>

      {% if not content.show_observations and not content.show_relationships and not content.show_discussions %}
        {% include "piece/text.html" with phrases=content.phrases %}
        {% include "source/source_block.html" with sources=content.sources %}
      {% endif %}

      {% if content.remarks %}
        <h2>Remarks</h2>
        <p id="remarks-text">{{ content.remarks|markdown|safe }}</p>
      {% endif %}

      {% if not content.show_observations and not content.show_relationships and not content.show_discussions %}
        {% include "piece/score.html" %}
      {% endif %}

      {% if content.show_observations %}
        {% include "piece/observations.html" %}
      {% endif %}

      {% if content.show_relationships %}
        {% include "piece/relationships.html" %}
      {% endif %}
    </div>
    <div class="span3">
      <div class="well span12">
        {% if not content.show_observations and not content.show_relationships and not content.show_discussions %}
          <h3>Piece details</h3>
        {% else %}
          <h3><a href="{{ content.url|htmlsite }}">Piece details</a></h3>
        {% endif %}

        <!--
        {% if content.show_observations %}
          <h3>Piece observations</h3>
        {% else %}
          <h3><a href="{{ content.url|htmlsite }}observations/">Piece observations</a></h3>
        {% endif %}
        -->

        {% if content.show_relationships %}
          <h3>Piece relationships</h3>
        {% else %}
          <h3><a href="{{ content.url|htmlsite }}relationships/">Piece relationships</a></h3>
        {% endif %}

        {% if content.show_discussions %}
          <h3>Forum discussions</h3>
        {% else %}
          <h3><a href="{{ content.url|htmlsite }}discussions/">Forum discussions</a></h3>
        {% endif %}
      </div>
      <!-- Sidebar giving all mass movements -->
      {% if content.mass %}
        <div class="well span12">
          <h2><a href="{{ content.mass.url|htmlsite }}">Mass movements</a></h2>
          {% for piece in content.mass.movements %}
            <h3>
              {% for pdf_link in piece.pdf_links %}
                <a href="{{ pdf_link }}">
                  <img src="{% static 'img/pdfdownload.png' %}" height=21 />
                </a>
              {% endfor %}
              {% for mei_link in piece.mei_links %}
                <a href="{{ mei_link }}">
                  <img src="{% static 'img/meidownload.png' %}" height=16 />
                </a>
              {% endfor %}
              {% if piece.url == content.url %}
                {{ piece.title }}
              {% else %}
                {% if content.show_observations %}
                  <a href="{{ piece.url|htmlsite }}observations/">{{ piece.title }}</a>
                {% elif content.show_relationships %}
                  <a href="{{ piece.url|htmlsite }}relationships/">{{ piece.title }}</a>
                {% else %}
                  <a href="{{ piece.url|htmlsite }}">{{ piece.title }}</a>
                {% endif %}
              {% endif %}
            </h3>
          {% endfor %}
        </div>
      {% endif %}
      <!-- Show related pieces -->
      {% if content.models and not content.show_discussions %}
        <div class="well span12">
          <h3>Models</h3>
          <ul>
            {% for work in content.models|include_mass_once %}
              <li>
                <a href="{{ work.url|htmlsite }}">
                  {% if work.piece_id %}
                    [{{ work.piece_id }}]
                  {% elif work.mass_id %}
                    [{{ work.mass_id }}]
                  {% endif %}
                  <br>
                  {{ work.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if content.derivatives and not content.show_discussions %}
        <div class="well span12">
          <h3>Derivatives</h3>
          <ul>
            {% for work in content.derivatives|include_mass_once %}
              <li>
                <a href="{{ work.url|htmlsite }}">
                  {% if work.piece_id %}
                    [{{ work.piece_id }}]
                  {% elif work.mass_id %}
                    [{{ work.mass_id }}]
                  {% endif %}
                  <br>
                  {{ work.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      {% if content.show_discussions %}
        {% include "piece/discussions.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
