{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
<title>CRIM | {% if content.mass %}{{ content.mass.title }}: {% endif %}{{ content.title }}</title>
{% endblock %}

{% block wrap %}
  <h1>{{ content.title|apostrophe }}
    {% for pdf_link in content.pdf_links %}
      {% if pdf_link %}
        <a href="{{ pdf_link }}">
          <img src="{% static 'img/pdfdownload.png' %}" height=32 />
        </a>
      {% endif %}
    {% endfor %}
    {% for mei_link in content.mei_links %}
      {% if mei_link %} 
        <a href="{{ mei_link }}">
          <img src="{% static 'img/meidownload.png' %}" height=24 />
        </a>
      {% endif %}
    {% endfor %}
    <small>[{{ content.piece_id }}]</small>
  </h1>
  <div class="row-fluid">
    <div class="span9">
      <hgroup class="page-title">
        <h2>
          {% if content.mass %}From <a href="{{ content.mass.url|htmlsite }}">{{ content.mass.title }}</a>{% else %}{% if content.genre %}<a href="{{ content.genre.url|htmlsite }}">{{ content.genre.name }}</a>{% endif %}{% endif %}
        </h2>
        {% for role in content.roles %}
          <h3>{% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
            <a href="{{ role.person.url|htmlsite }}">{{ role.person.name }}</a>{% if role.date %}, {{ role.date }}{% endif %}
          </h3>
          {% if role.remarks %}<p class="subheading">{{ role.remarks }}</p>{% endif %}
        {% endfor %}
      </hgroup>
    </div>
    <div class="span3">
      <div class="well span12">
        <h3 class="well-heading"><a href="{{ content.url|htmlsite }}">Piece details</a></h3>
        <h3 class="well-heading"><a href="{{ content.url|htmlsite }}observations/">Piece observations</a></h3>
        <h3 class="well-heading">Piece relationships</h3>
      </div>
    </div>
  </div>
  
  {% if content.relationships_as_model %}
    <h2>Relationships as model</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Observer</th>
          <th>Relationship type</th>
          <th>Model</th>
          <th>Derivative</th>
          <th>Show details</th>
        </tr>
      </thead>
      <tbody>
        {% for relationship in content.relationships_as_model %}
          <tr>
            <td><a href="{{ relationship.url|htmlsite }}">&lt;R{{ relationship.pk }}&gt;</a></td>
            <td><a href="{{ relationship.observer.url|htmlsite }}">{{ relationship.observer.name }}</a></td>
            <td>{% if relationship.rt_q %}Quotation{% endif %}
                {% if relationship.rt_tm %}Mechanical transformation{% endif %}
                {% if relationship.rt_tnm %}Non-mechanical transformation{% endif %}
                {% if relationship.rt_nm %}New material{% endif %}
                {% if relationship.rt_om %}Omission{% endif %}
            </td>
            <td>
              <a href="{{ relationship.model_observation.url|htmlsite }}">
                &lt;{{ relationship.model_observation.pk }}&gt;
              </a>
            </td>
            <td>
              <a href="{{ relationship.derivative_observation.url|htmlsite }}">
                &lt;{{ relationship.derivative_observation.pk }}&gt;
              </a>
              <a href="{{ relationship.derivative_observation.piece.url|htmlsite }}">
                {% if relationship.derivative_observation.piece.mass %}
                  {{relationship.derivative_observation.piece.mass.title}}:
                {% endif %}
                {{ relationship.derivative_observation.piece.title }}
              </a>
            </td>
            <td> 
              {% if relationship.rt_q or relationship.rt_tm or relationship.rt_tnm %}
                <a href="#" class="relationship-info-expand" target="relationship-info-{{ forloop.counter }}">Expand</a>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr id="relationship-info-{{ forloop.counter }}" class="relationship-info">
            <td colspan="6" class="expansion">
              {% include "relationship/relationship_expanded.html" %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if content.relationships_as_derivative %}
    <h2>Relationships as derivative</h2>
      <table class="table table-bordered table-hover">
        <tr>
          <th>ID</th>
          <th>Observer</th>
          <th>Relationship type</th>
          <th>Model</th>
          <th>Derivative</th>
          <th>Show details</th>
        </tr>
        {% for relationship in content.relationships_as_derivative %}
          <tr>
            <td><a href="{{ relationship.url|htmlsite }}">&lt;R{{ relationship.pk }}&gt;</a></td>
            <td><a href="{{ relationship.observer.url|htmlsite }}">{{ relationship.observer.name }}</a></td>
            <td>{% if relationship.rt_q %}Quotation{% endif %}
                {% if relationship.rt_tm %}Mechanical transformation{% endif %}
                {% if relationship.rt_tnm %}Non-mechanical transformation{% endif %}
                {% if relationship.rt_nm %}New material{% endif %}
                {% if relationship.rt_om %}Omission{% endif %}
            </td>
            <td>
              <a href="{{ relationship.model_observation.url|htmlsite }}">
                &lt;{{ relationship.model_observation.pk }}&gt;
              </a>
              <a href="{{ relationship.model_observation.piece.url|htmlsite }}">
                {% if relationship.model_observation.piece.mass %}
                  {{relationship.model_observation.piece.mass.title}}:
                {% endif %}
                {{ relationship.model_observation.piece.title }}
              </a>
            </td>
            <td>
              <a href="{{ relationship.derivative_observation.url|htmlsite }}">
                &lt;{{ relationship.derivative_observation.pk }}&gt;
              </a>
            </td>
            <td> 
              {% if relationship.rt_q or relationship.rt_tm or relationship.rt_tnm %}
                <a href="#" class="relationship-info-expand" target="relationship-info-{{ forloop.counter }}">Expand</a>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr id="relationship-info-{{ forloop.counter }}" class="relationship-info">
            <td colspan="6" class="expansion">
              {% include "relationship/relationship_expanded.html" %}
            </td>
          </tr>
        {% endfor %}
      </table>
  {% endif %}
  {% if not content.relationships_as_model and not content.relationships_as_derivative %}
    <h2>Relationships</h2>
    <p>No relationships associated with this piece.</p>
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <!-- Can't import all the jquery and bootstrap, since they conflict with each other -->
  <script type="text/JavaScript" src='{% static "js/jquery/src/effects.js" %}'></script>
  <script type="text/JavaScript" src='{% static "js/bootstrap/bootstrap-modal.js" %}'></script>
  <script type="text/JavaScript" src='{% static "js/bootstrap/bootstrap-transition.js" %}'></script>

  <script type="text/javascript">
    // This script expands and hides relationship details
    $('.relationship-info').hide();
    $('.relationship-info-expand').on({
      'click': function(event) {
        event.preventDefault();
        tgt = "#" + $(this).attr('target');
        $(tgt).toggle();
        tag = $(this).text() == "Expand" ? "Collapse" : "Expand";
        $(this).text(tag);
        return false;
      }
    })
  </script>
{% endblock %}
