<div style="width:700px">
  <div id="piece-header" class="row-fluid">
    <div class="span6"><h2>Score</h2></div>
    <div class="span6">
      <div class="btn-group pull-right" role="group" aria-label="Score control button group">
        <button type="button" class="btn btn-primary cw-prev"><a href="{{ content.url|htmlsite }}{{ request|prevpage }}">&lt;</a></button>
        <button type="button" class="btn btn-primary cw-show"><a href="{{ content.url|htmlsite }}{{ request|start }}">start</a></button>
        <button type="button" class="btn btn-primary cw-next"><a href="{{ content.url|htmlsite }}{{ request|nextpage }}">&gt;</a></button>
      </div>
    </div>
  </div>
  <div id="score">
    {% autoescape off %}
      {{ content.svg }}
    {% endautoescape %}
  </div>
</div>
