<div style="width:700px">
  <div id="piece-header" class="row-fluid">
    <div class="span9"><h2>Score</h2></div>
    <div class="span3">
      <div class="btn-group pull-right" role="group" aria-label="Score control button group">
        <a href="{{ content.url|htmlsite }}{{ request|prevpage:content.page_number }}" class="btn btn-primary cw-prev">&lt;</a>
        <a href="{{ content.url|htmlsite }}{{ request|start }}" class="btn btn-primary cw-show">start</a>
        <a href="{{ content.url|htmlsite }}{{ request|nextpage:content.page_number }}" class="btn btn-primary cw-next">&gt;</a>
      </div>
    </div>
  </div>
  <div>
    {% autoescape off %}
      {{ content.svg }}
    {% endautoescape %}
  </div>
</div>
