<div style="width:700px">
  <div id="piece-header" class="row-fluid">
    <div class="span6"><h2>Score</h2></div>
    <div id="cw-piece-controls" class="span6">
      <div class="btn-group pull-right" role="group" aria-label="Score control button group">
        <button type="button" class="btn btn-primary cw-prev">&lt;</button>
        <button type="button" class="btn btn-primary cw-show">start</button>
        <button type="button" class="btn btn-primary cw-next">&gt;</button>
      </div>
    </div>
  </div>
  {% autoescape off %}
    {{ content.svg }}
  {% endautoescape %}
</div>
