{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}
{% load shortendate %}

{% block title %}
<title>CRIM | {{ content.name }}</title>
{% endblock %}

{% block wrap %}
  <hgroup class="page-title">
    <h1>{{ content.name|apostrophe }}
	  <small>{{ content.person_id }}</small>
      {% if content.name_alternate_list %}
        <small>({{ content.name_alternate_list|newline_to_break_tag }})</small>
      {% endif %}
    </h1>
    <h2>
      {% if content.unique_roles %}{{ content.unique_roles }}{% endif %}{% if content.unique_roles %}{% if content.birth_date or content.death_date or content.active_date %},&nbsp;
        {% endif %}
      {% endif %}
      {% if content.birth_date and content.death_date %}
        {{ content.birth_date|apostrophe|shortendate }}&ndash;{{ content.death_date|apostrophe|shortendate }}
      {% else %}
        {% if content.birth_date and not content.death_date %}
          b. {{ content.birth_date|apostrophe|figuredash|shortendate }}
        {% else %}
          {% if content.death_date and not content.birth_date %}
            d. {{ content.death_date|apostrophe|figuredash|shortendate }}
          {% else %}
            {% if content.active_date %}
              fl. {{ content.active_date|apostrophe|figuredash|shortendate }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    </h2>
  </hgroup>
  
  {% if content.remarks %}
    <h2>Remarks</h2>
    <p id="remarks-text">{{ content.remarks|markdown|safe }}</p>
  {% endif %}
  
  {% if content.has_works %}
    <h2>Works</h2>
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><a href="?order_by=date_sort">Title</a></th>
        <th>Genre</th>
        <th>Role</th>
        <th>Date</th>
        <th>Remarks</th>
      </tr>
      {% for role in content.roles %}
        {% if role.mass %}
          <tr>
            <td><a href="{{ role.mass.url }}">{% if role.mass.title %}{{ role.mass.title }}{% else %}[Mass]{% endif %}</a></td>
            <td><a href="{{ role.mass.genre.url }}">{{ role.mass.genre.name }}</a></td>
            <td><a href="{{ role.role_type.url }}">{{ role.role_type.name }}</a></td>
            <td>{{ role.date }}</td>
            <td>{{ role.remarks }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for role in content.roles %}
        {% if role.piece %}
          <tr>
            <td><a href="{{ role.piece.url }}">{{ role.piece.title }}</a></td>
            <td><a href="{{ role.piece.genre.url }}">{{ role.piece.genre.name }}</a></td>
            <td><a href="{{ role.role_type.url }}">{{ role.role_type.name }}</a></td>
            <td>{{ role.date }}</td>
            <td>{{ role.remarks }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for role in content.roles %}
        {% if role.treatise %}
          <tr>
            <td><a href="{{ role.treatise.url }}">{{ role.treatise.title }}</a></td>
            <td>Treatise</td>
            <td><a href="{{ role.role_type.url }}">{{ role.role_type.name }}</a></td>
            <td>{{ role.date }}</td>
            <td>{{ role.remarks }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for role in content.roles %}
        {% if role.source %}
          <tr>
            <td><a href="{{ role.source.url }}">{{ role.source.title }}</a></td>
            <td>Source</td>
            <td><a href="{{ role.role_type.url }}">{{ role.role_type.name }}</a></td>
            <td>{{ role.date }}</td>
            <td>{{ role.remarks }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>


  <script type="text/javascript">
    // CSRF Token Protection lifted from Django documentation. Consider moving to main template
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
      (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
      // or any other URL that isn't scheme relative or absolute i.e relative.
      !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
              // Send the token to same-origin, relative URLs only.
              // Send the token only if the method warrants CSRF protection
              // Using the CSRFToken value acquired earlier
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  </script>

  <!-- <script src="{{ STATIC_URL }}js/notation.js"></script> -->

  <!-- meiView dependencies and scripts -->

  <script type="text/JavaScript" src="/static/js/vexflow/vexflow-min.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/Fabric-all.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/meitovexflow.min.js"></script>

  <script type="text/JavaScript" src="/static/js/dist/meiview.js"></script>
  <link rel="stylesheet" href="/static/css/dist/meiview.css"/>

{% endblock %}
