{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}
{% load newlinereplace %}
{% load newlineplural %}
{% load firstitem %}

{% block title %}
<title>
  CRIM | Observation &lt;{{ content.pk }}&gt;
  {% if content.piece.mass %}
    {{ content.piece.mass.title }}:
  {% endif %}
  {{ content.piece.title }}
</title>
{% endblock %}

{% block wrap %}
  <hgroup class="page-title">
    <h1>Observation <small>&lt;{{ content.pk }}&gt;</small></h1>
    <h2>
      {{ content.composers_with_urls|safe }},
      {% if content.piece.mass %}
        <a href="{{ content.piece.mass.url|htmlsite }}">{{ content.piece.mass.title }}</a>:
      {% endif %}
      <a href="{{ content.piece.url|htmlsite }}">{{ content.piece.title }}</a>
    </h2>
    <h2>Observer: <a href="{{ content.observer.url|htmlsite }}">{{ content.observer.name }}</a></h2>
  </hgroup>
  
  <div class="row">
    <div class="span10">
      <div class="row">
    	    <div id="piece-header" class="span8">
    	    </div>
        <div id="cw-piece-controls" class="span2 pull-right">
          <div class="btn-group" role="group" aria-label="Score control button group">
            <button type="button" class="btn btn-primary cw-prev">&lt;</button>
            <button type="button" class="btn btn-primary cw-show">show</button>
            <button type="button" class="btn btn-primary cw-next">&gt;</button>
          </div>
        </div>
    	  </div>
      <div id="pieceScore" class="cw-score"></div>
    </div>
    <div class="span2">
      {% with observation=content %}
        {% include "observation/observation_expanded.html" %}
      {% endwith %}
    </div>
  </div>
  
  {% if content.remarks %}
    <h2>Remarks</h2>
    <p>{{ content.remarks }}</p>
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

  <script type="text/javascript">
    // CSRF Token Protection lifted from Django documentation. Consider moving to main template
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
      (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
      // or any other URL that isn't scheme relative or absolute i.e relative.
      !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
          // Send the token to same-origin, relative URLs only.
          // Send the token only if the method warrants CSRF protection
          // Using the CSRFToken value acquired earlier
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
  });
  </script>

  <script type="text/JavaScript" src="/static/js/verovio/verovio-toolkit.js"></script>
  <script type="text/JavaScript" src="/static/js/cw/cw.js"></script>

  <script>
    var vrv = new window.verovio.toolkit()
    var cwPiece = new CrimViewer({
      mei: '{{ content.piece.mei_links|firstitem }}',
      ema: '{{ content.ema }}',
      vrv: vrv,
      div: 'pieceScore',
      controls: 'cw-piece-controls'
    })
    cwPiece.render()
  </script>

{% endblock %}
