<h3>{% if observation.musical_type %}{{ observation.musical_type }}{% else %}Observation{% endif %}</h3>
{% if observation.mt_cf %}
  <p class="hanging"><strong>Voice{{ observation.mt_cf_voices|newlineplural }}:</strong>{% if observation.mt_cf_voices %}<br/>{{ observation.mt_cf_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Rhythmic durations:</strong> {{ observation.mt_cf_dur }}</p>
  <p class="hanging"><strong>Melodic intervals:</strong> {{ observation.mt_cf_mel }}</p>
{% endif %}
{% if observation.mt_sog %}
  <p class="hanging"><strong>Voice{{ observation.mt_sog_voices|newlineplural }}:</strong>{% if observation.mt_sog_voices %}<br/>{{ observation.mt_sog_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Rhythmic durations:</strong> {{ observation.mt_sog_dur }}</p>
  <p class="hanging"><strong>Melodic intervals:</strong> {{ observation.mt_sog_mel }}</p>
  <p class="hanging"><strong>Ostinato:</strong> {{ observation.mt_sog_ostinato }}</p>
  <p class="hanging"><strong>Periodic:</strong> {{ observation.mt_sog_periodic }}</p>
{% endif %}
{% if observation.mt_csog %}
  <p class="hanging"><strong>Voice{{ observation.mt_csog_voices|newlineplural }}:</strong>{% if observation.mt_csog_voices %}<br/>{{ observation.mt_csog_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Rhythmic durations:</strong> {{ observation.mt_csog_dur }}</p>
  <p class="hanging"><strong>Melodic intervals:</strong> {{ observation.mt_csog_mel }}</p>
{% endif %}
{% if observation.mt_cd %}
  <p class="hanging"><strong>Voice{{ observation.mt_cd_voices|newlineplural }}:</strong>{% if observation.mt_cd_voices %}<br/>{{ observation.mt_cd_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
{% endif %}
{% if observation.mt_fg %}
  <p class="hanging"><strong>Voice{{ observation.mt_fg_voices|newlineplural }}:</strong>{% if observation.mt_fg_voices %}<br/>{{ observation.mt_fg_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  {% if observation.mt_fg_int %}<p class="hanging"><strong>Melodic interval of entry:</strong> {{ observation.mt_fg_int }}</p>{% endif %}
  {% if observation.mt_fg_tint %}<p class="hanging"><strong>Time interval of entry:</strong> {{ observation.mt_fg_tint }}</p>{% endif %}
  <p class="hanging"><strong>Periodic:</strong> {{ observation.mt_fg_periodic }}</p>
  <p class="hanging"><strong>Strict:</strong> {{ observation.mt_fg_strict }}</p>
  <p class="hanging"><strong>Flexed:</strong> {{ observation.mt_fg_flexed }}</p>
  <p class="hanging"><strong>Sequential:</strong> {{ observation.mt_fg_sequential }}</p>
  <p class="hanging"><strong>Inverted:</strong> {{ observation.mt_fg_inverted }}</p>
  <p class="hanging"><strong>Retrograde:</strong> {{ observation.mt_fg_retrograde }}</p>
{% endif %}
{% if observation.mt_pe %}
  <p class="hanging"><strong>Voice{{ observation.mt_pe_voices|newlineplural }}:</strong>{% if observation.mt_pe_voices %}<br/>{{ observation.mt_pe_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  {% if observation.mt_pe_int %}<p class="hanging"><strong>Melodic interval of entry:</strong> {{ observation.mt_pe_int }}</p>{% endif %}
  {% if observation.mt_pe_tint %}<p class="hanging"><strong>Time interval of entry:</strong> {{ observation.mt_pe_tint }}</p>{% endif %}
  <p class="hanging"><strong>Strict:</strong> {{ observation.mt_pe_strict }}</p>
  <p class="hanging"><strong>Flexed:</strong> {{ observation.mt_pe_flexed }}</p>
  <p class="hanging"><strong>Flexed, tonal:</strong> {{ observation.mt_pe_flt }}</p>
  <p class="hanging"><strong>Sequential:</strong> {{ observation.mt_pe_sequential }}</p>
  <p class="hanging"><strong>Added:</strong> {{ observation.mt_pe_added }}</p>
  <p class="hanging"><strong>Invertible:</strong> {{ observation.mt_pe_invertible }}</p>
{% endif %}
{% if observation.mt_id %}
  <p class="hanging"><strong>Voice{{ observation.mt_id_voices|newlineplural }}:</strong>{% if observation.mt_id_voices %}<br/>{{ observation.mt_id_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  {% if observation.mt_id_int %}<p class="hanging"><strong>Melodic interval of entry:</strong> {{ observation.mt_id_int }}</p>{% endif %}
  {% if observation.mt_id_tint %}<p class="hanging"><strong>Time interval of entry:</strong> {{ observation.mt_id_tint }}</p>{% endif %}
  <p class="hanging"><strong>Strict:</strong> {{ observation.mt_id_strict }}</p>
  <p class="hanging"><strong>Flexed:</strong> {{ observation.mt_id_flexed }}</p>
  <p class="hanging"><strong>Flexed, tonal:</strong> {{ observation.mt_id_flt }}</p>
  <p class="hanging"><strong>Invertible:</strong> {{ observation.mt_id_invertible }}</p>
  {% endif %}
{% if observation.mt_nid %}
  <p class="hanging"><strong>Voice{{ observation.mt_nid_voices|newlineplural }}:</strong>{% if observation.mt_nid_voices %}<br/>{{ observation.mt_nid_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  {% if observation.mt_nid_int %}<p class="hanging"><strong>Melodic interval of entry:</strong> {{ observation.mt_nid_int }}</p>{% endif %}
  {% if observation.mt_nid_tint %}<p class="hanging"><strong>Time interval of entry:</strong> {{ observation.mt_nid_tint }}</p>{% endif %}
  <p class="hanging"><strong>Strict:</strong> {{ observation.mt_nid_strict }}</p>
  <p class="hanging"><strong>Flexed:</strong> {{ observation.mt_nid_flexed }}</p>
  <p class="hanging"><strong>Flexed, tonal:</strong> {{ observation.mt_nid_flt }}</p>
  <p class="hanging"><strong>Sequential:</strong> {{ observation.mt_nid_sequential }}</p>
  <p class="hanging"><strong>Invertible:</strong> {{ observation.mt_nid_invertible }}</p>
  {% endif %}
{% if observation.mt_hr %}
  <p class="hanging"><strong>Voice{{ observation.mt_hr_voices|newlineplural }}:</strong>{% if observation.mt_hr_voices %}<br/>{{ observation.mt_hr_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Simple:</strong> {{ observation.mt_hr_simple }}</p>
  <p class="hanging"><strong>Staggered:</strong> {{ observation.mt_hr_staggered }}</p>
  <p class="hanging"><strong>Sequential:</strong> {{ observation.mt_hr_sequential }}</p>
  <p class="hanging"><strong>Fauxbourdon:</strong> {{ observation.mt_hr_fauxbourdon }}</p>
{% endif %}
{% if observation.mt_cad %}
  <p class="hanging"><strong>Cantizans:</strong> {% if observation.mt_cad_cantizans %}{{ observation.mt_cad_cantizans }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Tenorizans:</strong> {% if observation.mt_cad_tenorizans %}{{ observation.mt_cad_tenorizans }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Type:</strong> {% if observation.mt_cad_type %}{{ observation.mt_cad_type }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Tone:</strong> {% if observation.mt_cad_tone %}{{ observation.mt_cad_tone }}{% else %}-{% endif %}</p>
  {% if observation.mt_cad_dtv %}<p class="hanging"><strong>Dovetail voice:</strong> {{ observation.mt_cad_dtv }}</p>{% endif %}
  {% if observation.mt_cad_dti %}<p class="hanging"><strong>Dovetail interval:</strong> {{ observation.mt_cad_dti }}</p>{% endif %}
{% endif %}
{% if observation.mt_int %}
  <p class="hanging"><strong>Voice{{ observation.mt_int_voices|newlineplural }}:</strong>{% if observation.mt_int_voices %}<br/>{{ observation.mt_int_voices|newlinereplace|safe }}{% else %}-{% endif %}</p>
  <p class="hanging"><strong>Parallel 6:</strong> {{ observation.mt_int_p6 }}</p>
  <p class="hanging"><strong>Parallel 3 (or 10):</strong> {{ observation.mt_int_p3 }}</p>
  <p class="hanging"><strong>Chained 3 and 5:</strong> {{ observation.mt_int_c35 }}</p>
  <p class="hanging"><strong>Chained 8 and 3:</strong> {{ observation.mt_int_c83 }}</p>
  <p class="hanging"><strong>Chained 6 and 5:</strong> {{ observation.mt_int_c65 }}</p>
{% endif %}
{% if observation.mt_fp %}
  {% if observation.mt_fp_ir %}<p class="hanging"><strong>Internal repetition:</strong> {{ observation.mt_fp_ir }}</p>{% endif %}
  {% if observation.mt_fp_range %}<p class="hanging"><strong>Range:</strong> {{ observation.mt_fp_range }}</p>{% endif %}
  {% if observation.mt_fp_comment %}<p class="hanging"><strong>Comment:</strong> {{ observation.mt_fp_comment }}</p>{% endif %}
{% endif %}
{% if observation.remarks %}
  <p class="hanging"><strong>Remarks:</strong> {{ observation.remarks }}</p>
{% endif %}
