{% extends "base.html" %}
{% load markdown %}
{% load shorten %}
{% load static %}
{% load get_string %}

{% block title %}
  <title>CRIM | Observations</title>
{% endblock %}

{% block wrap %}
  <div class="row-fluid">
    <div class="span12">
      <div class="show-heading row-fluid">
        <hgroup class="show-title page-title span12">
          <h1>Observations</h1>
        </hgroup>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th><a href="?order_by=pk">ID</a></th>
            <th><a href="?order_by=observer__name_sort">Observer</a></th>
            <th><a href="?order_by=piece__piece_id">Piece</a></th>
            <th>Observation type</th>
            <th>Show details</th>
          </tr>
        </thead>
        <tbody>
          {% for observation in content.results %}
            <tr>
              <td><a {% if not observation.curated %}class="uncurated"{% endif %} href="{{ observation.url|htmlsite }}">&lt;{{ observation.id }}&gt;</a></td>
              <td><a {% if not observation.curated %}class="uncurated"{% endif %} href="{{ observation.observer.url|htmlsite }}">{{ observation.observer.name }}</a></td>
              <td>
                <a {% if not observation.curated %}class="uncurated"{% endif %} href="{{ observation.piece.url|htmlsite }}">
                  [{{ observation.piece.piece_id }}]
                  {{ observation.piece.full_title }}
                </a>
              </td>
              <td>
                {% if observation.musical_type %}
                  {{ observation.musical_type }}
                {% else %}
                  None
                {% endif %}
              </td>
              <td>
                {% if observation.mt_cf or observation.mt_sog or observation.mt_csog or observation.mt_fg or observation.mt_pe or observation.mt_id or observation.mt_nid or observation.mt_hr or observation.mt_cad or observation.mt_int or observation.mt_fp %}
                  <a href="#" class="observation-info-expand {% if not observation.curated %}uncurated{% endif %}" target="observation-info-{{ forloop.counter }}">Expand</a>
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
            <tr id="observation-info-{{ forloop.counter }}" class="observation-info">
              <td colspan="5" class="expansion">
                {% include "observation/observation_old_expanded.html" %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        <ul class="pagination">
          {% if content.previous %}
            <li class="pagination" id="first-child"><a href="{{ content.previous }}">&laquo;</a></li>
          {% else %}
            <li class="disabled" id="first-child">&laquo;</li>
          {% endif %}
          <!-- CAREFUL: the parameter of rangelist MUST match
          the page_size attribute in ObservationSetPagination,
          found in views/observation.py -->
          {% for i in content.count|rangelist:100 %}
            {% if request.GET.page == i|string %}
              <li class="active">{{ i }}</li>
            {% elif not request.GET.page and i == 1 %}
              <li class="active">{{ i }}</li>
            {% else %}
              <li class="pagination"><a href='?{% get_string "page" i %}'>{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if content.next %}
            <li class="pagination" id="last-child"><a href="{{ content.next }}">&raquo;</a></li>
          {% else %}
            <li class="disabled" id="last-child">&raquo;</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    // This script expands and hides observation details
    $('.observation-info').hide();
    $('.observation-info-expand').on({
      'click': function(event) {
        event.preventDefault();
        tgt = "#" + $(this).attr('target');
        $(tgt).toggle();
        tag = $(this).text() == "Expand" ? "Collapse" : "Expand";
        $(this).text(tag);
        return false;
      }
    })
  </script>
{% endblock %}
