{% extends "base.html" %}

{% load rest_framework %}

{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
  <title>CRIM | {% if content %}{{ content.author.name }} ({{ content.created }}){% else %}New comment{% endif %}</title>
{% endblock %}

{% block wrap %}
  <hgroup>
    <h1>Comment</h1>
    <h3>{% if content.author %}{{ content.author.name }}{% endif %}</h3>
    <h3>{{ content.created }}</h3>
  </hgroup>

  <form action="{% url 'crimcomment-detail' comment_id=content.comment_id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <textarea name="text" class="form-control">{{ content.text }}</textarea>
    </div>
    {# render_form serializer #}
    <input type="submit" value="Save">
  </form>

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

{% endblock %}
