{% extends "base.html" %}

{% load rest_framework %}

{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
  <title>CRIM | {% if content %}{{ content.author.name }} ({{ content.created }}){% else %}New comment{% endif %}</title>
{% endblock %}

{% block wrap %}
  <hgroup>
    <h1>Comment</h1>
    <h3>{% if content.author %}{{ content.author.name }}{% endif %} – {{ content.created }}</h3>
  </hgroup>

  {# If the current user is the author of the comment, show it as an editable form #}
  {% if content.author.user == request.user %}
    <form action="{% url 'crimcomment-detail' comment_id=content.comment_id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <select name="piece" class="form-control">
          {% for piece in pieces %}
            <option value="{{ piece.pk }}" {% if content.piece.pk == piece.pk %}selected="true"{% endif %}>{{ piece }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <textarea name="text" class="form-control">{{ content.text }}</textarea>
      </div>
      {# render_form serializer #}
      <!-- Add checkbox confirming deletion. With JavaScript, make textbox appear
           prompting the user to type their username as a further confirmation. -->
      <input type="submit" value="Save">
    </form>

  {# Otherwise, just show the text of the comment #}
  {% else %}
    <p><strong>Piece:</strong> <a href="{{ content.piece.url }}">{{ content.piece }}</a></p>
    <p><strong>Text:</strong> {{ content.text }}</p>
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

{% endblock %}
