{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}

{% block title %}
<title>CRIM | {{ content.title }}</title>
{% endblock %}

{% block wrap %}
  <hgroup class="page-title">
    <h1>{{ content.title|apostrophe }}
	  {% for link in content.external_links %}
	  <a href="{{ link }}"><img src="{% static 'img/externallink.png' %}" height=24 /></a>
	  {% endfor %}
	  <small>[{{ content.document_id }}]</small>
    </h1>
    {% for role in content.roles %}
      <h3>{% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
      <a href="{{ role.person.url|htmlsite }}">{{ role.person.name }}</a>{% if role.date %}, {{ role.date }}{% endif %}</h3>
    {% endfor %}
  </hgroup>
  
  {% if content.remarks %}
    <h2>Remarks</h2>
    <p id="remarks-text">{{ content.remarks|markdown|safe }}</p>
  {% endif %}

  {% if content.mass_contents or content.piece_contents or content.treatise_contents %}
  <h2>Contents</h2>
  <div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Title</th>
                <th>Author or Composer</th>
                <th>Date</th>
                <th>Remarks</th>
            </tr>
            {% for mass in content.mass_contents %}
              <tr>
                <td>{{ mass.mass_id }}</td>
                <td>Mass</td>
                <td><a href="{{ mass.url|htmlsite }}">{{ mass.title }}</a></td>
                <td>{{ mass.creators_with_url|htmlsite|safe }}</td>
                <td>{{ mass.date }}</td>
                <td>{{ mass.remarks|markdown|shorten|safe }}</td>
              </tr>
            {% endfor %}
            {% for piece in content.piece_contents %}
              <tr>
                <td>{{ piece.piece_id }}</td>
                <td>Piece</td>
                <td><a href="{{ piece.url|htmlsite }}">{{ piece.title }}</a></td>
                <td>{{ piece.creators_with_url|htmlsite|safe }}</td>
                <td>{{ piece.date }}</td>
                <td>{{ piece.remarks|markdown|shorten|safe }}</td>
              </tr>
            {% endfor %}
            {% for treatise in content.treatise_contents %}
              <tr>
                <td>{{ treatise.document_id }}</td>
                <td>Treatise</td>
                <td><a href="{{ treatise.url|htmlsite }}">{{ treatise.title }}</a></td>
                <td>{{ treatise.creators_with_url|htmlsite|safe }}</td>
                <td>{{ treatise.date }}</td>
                <td>{{ treatise.remarks|markdown|shorten|safe }}</td>
              </tr>
            {% endfor %}
        </table>
    </div>
</div>
  {% endif %}
  

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>

  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

{% endblock %}
