{% extends "base.html" %}
{% load apostrophe %}
{% load figuredash %}
{% load markdown %}
{% load static %}
{% load people %}
{% load earliest_date %}

{% block title %}
  <title>CRIM | {{ content.title }}</title>
{% endblock %}

{% block wrap %}
  <hgroup class="page-title">
    <h1>{{ content.title|apostrophe }}
      {% for link in content.external_links %}
        <a href="{{ link }}"><img src="{% static 'img/externallink.png' %}" height=24 /></a>
      {% endfor %}
      <small>[{{ content.document_id }}]</small>
    </h1>
    <h2>Source</h2>
    {% for role in content.roles %}
      <h3>{% if role.role_type.name %}{{ role.role_type.name }}: {% endif %}
      <a href="{{ role.person.url|htmlsite }}">{{ role.person.name }}</a>{% if role.date %}, {{ role.date }}{% endif %}</h3>
    {% endfor %}
  </hgroup>

  {% if content.mass_contents or content.piece_contents or content.treatise_contents %}
    <h2>Contents</h2>
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-white table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Title</th>
              <th>Author or Composer</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for mass in content.mass_contents %}
              <tr>
                <td><a href="{{ mass.url|htmlsite }}">[{{ mass.mass_id }}]</a></td>
                <td><a href="/masses/">Mass</a></td>
                <td>{{ mass.title }}</td>
                <td>{{ mass.roles|people:"composer"|safe }}</td>
                <td>{{ mass.roles|earliest_date:"composer" }}</td>
              </tr>
            {% endfor %}
            {% for piece in content.piece_contents %}
              {% if piece.mass not in content.mass_contents %}
              <tr>
                <td><a href="{{ piece.url|htmlsite }}">[{{ piece.piece_id }}]</a></td>
                <td><a href="{{ piece.genre.url|htmlsite }}">{{ piece.genre.name }}</a></td>
                <td>{{ piece.title }}</td>
                <td>{{ piece.roles|people:"composer"|safe }}</td>
                <td>{% if piece.roles|earliest_date:"composer" %}{{ piece.roles|earliest_date:"composer" }}{% elif piece.mass.roles|earliest_date:"composer" %}{{ piece.mass.roles|earliest_date:"composer" }}{% else %}-{% endif %}</td>
                <td>{{ piece.remarks|markdown|shorten|safe }}</td>
              </tr>
              {% endif %}
            {% endfor %}
            {% for treatise in content.treatise_contents %}
              <tr>
                <td>{{ treatise.document_id }}</td>
                <td><a href="/treatises/">Treatise</a></td>
                <td><a href="{{ treatise.url|htmlsite }}">[{{ treatise.title }}]</a></td>
                <td>{{ treatise.roles|people:"author"|htmlsite|safe }}</td>
                <td>{{ treatise.roles|earliest_date:"author" }}</td>
                <td>{{ treatise.remarks|markdown|shorten|safe }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {% if content.remarks %}
    <h2>Remarks</h2>
    <p id="remarks-text">{{ content.remarks|markdown|safe }}</p>
  {% endif %}



{% endblock %}
