{% load static %}
{% load people %}
{% load earliest_date %}

{% if sources %}
  <h2>Sources</h2>
  <table class="table table-white table-bordered table-hover">
    <thead>
      <tr>
        <th>Source ID</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for source in sources %}
        <tr>
          <td>
          {% for external_link in source.external_links %}
            <a href="{{ external_link }}">
              <img src="{% static 'img/externallink.png' %}" height=14 />
            </a>
          {% endfor %}
          <a href="{{ source.url|htmlsite }}">[{{ source.document_id }}]</a>
        </td>
        <td>
          {{ source.title }}
        </td>
        <td>
          <a href="{{ source.publisher.url|htmlsite }}">{{ source.publisher.name }}</a>
        </td>
        <td>
          {{ source.date }}
        </td>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
