<h2>Refine your search</h2>
<div class="accordion" id="facet-accordion">
{% for facet_block in facet_results %}
    {% if facet_block.1 %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-accordion" href="#collapse_{{ forloop.counter }}">{{ facet_block.0 }}</a>
        </div>
        <div id="collapse_{{ forloop.counter }}" class="accordion-body collapse in">
            <div class="accordion-inner">
                <ul class="unstyled">
                    {% for facet_item in facet_block.1 %}
                        <li>
                            <label class="checkbox">
                                {% if facet_item.2 %}
                                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.2 }}" />{{ facet_item.0 }}
                                {% else %}
                                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }}
                                {% endif %}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<script type="text/javascript">
$(document).ready(function ($) {
    attachFacetActions();
});
</script>