<h2>Narrow results</h2>
<div class="accordion" id="facet-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-observer-accordion" href="#collapse-observer">Observer</a>
    </div>
    <div id="collapse-observer" class="accordion-body collapse {% if request.GET|dictkey:'observer' %}in{% endif %}">
      <div class="accordion-inner">
        {% for facet_block in facet_results_observer %}
          {% if facet_block.1 %}
            <h4>{{ facet_block.0 }}</h4>
            <ul class="unstyled">
              {% for facet_item in facet_block.1 %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }} {% if facet_item.2 %}({{ facet_item.2 }}){% endif %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-model-accordion" href="#collapse-model">Model</a>
    </div>
    <div id="collapse-model" class="accordion-body collapse {% if request.GET|dictkey:'model-composer' or request.GET|dictkey:'model-genre' %}in{% endif %}">
      <div class="accordion-inner">
        {% for facet_block in facet_results_model %}
          {% if facet_block.1 %}
            <h4>{{ facet_block.0 }}</h4>
            <ul class="unstyled">
              {% for facet_item in facet_block.1 %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }} {% if facet_item.2 %}({{ facet_item.2 }}){% endif %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-derivative-accordion" href="#collapse-derivative">Derivative</a>
    </div>
    <div id="collapse-derivative" class="accordion-body collapse {% if request.GET|dictkey:'derivative-composer' or request.GET|dictkey:'derivative-genre' %}in{% endif %}">
      <div class="accordion-inner">
        {% for facet_block in facet_results_derivative %}
          {% if facet_block.1 %}
            <h4>{{ facet_block.0 }}</h4>
            <ul class="unstyled">
              {% for facet_item in facet_block.1 %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }} {% if facet_item.2 %}({{ facet_item.2 }}){% endif %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-rt-accordion" href="#collapse-rt">Relationship type</a>
    </div>
    <div id="collapse-rt" class="accordion-body collapse {% if request.GET|dictkey:'rt-q' or request.GET|dictkey:'rt-tm' or request.GET|dictkey:'rt-tnm' or request.GET|dictkey:'rt-nm' or request.GET|dictkey:'rt-om' %}in{% endif %}">
      <div class="accordion-inner">
        {% if type_facets.rt_q_b.true and request.GET|dictkey:'rt-q' %}
          <h4>Quotation</h4>
        {% elif type_facets.rt_tm_b.true and request.GET|dictkey:'rt-tm' %}
          <h4>Mechanical transformation</h4>
        {% elif type_facets.rt_tnm_b.true and request.GET|dictkey:'rt-tnm' %}
          <h4>Non-mechanical transformation</h4>
        {% else %}
          <h4></h4>
        {% endif %}
        <ul class="unstyled">
          {% if type_facets.rt_q_b.true %}
            {% if not request.GET|dictkey:'rt-q-x' and not request.GET|dictkey:'rt-q-monnayage' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="rt-q" value="true" />{% if request.GET|dictkey:'rt-q' %}Any{% else %}Quotation{% endif %} ({{ type_facets.rt_q_b.true }})
                </label>
              </li>
            {% endif %}
            {% if request.GET|dictkey:'rt-q' %}
              {% if type_facets.rt_q_x_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-q-x" value="true" />Exact ({% if type_facets.rt_q_x_b.true %}{{ type_facets.rt_q_x_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_q_monnayage_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-q-monnayage" value="true" />Monnayage ({% if type_facets.rt_q_monnayage_b.true %}{{ type_facets.rt_q_monnayage_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if type_facets.rt_tm_b.true %}
            {% if not request.GET|dictkey:'rt-tm-snd' and not request.GET|dictkey:'rt-tm-minv' and not request.GET|dictkey:'rt-tm-retrograde' and not request.GET|dictkey:'rt-tm-ms' and not request.GET|dictkey:'rt-tm-transposed' and not request.GET|dictkey:'rt-tm-invertible' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="rt-tm" value="true" />{% if request.GET|dictkey:'rt-tm' %}Any{% else %}Mechanical transformation{% endif %} ({{ type_facets.rt_tm_b.true }})
                </label>
              </li>
            {% endif %}
            {% if request.GET|dictkey:'rt-tm' %}
              {% if type_facets.rt_tm_snd_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-snd" value="true" />Sounding in different voice(s) ({% if type_facets.rt_tm_snd_b.true %}{{ type_facets.rt_tm_snd_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_minv_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-minv" value="true" />Melodically inverted ({% if type_facets.rt_tm_minv_b.true %}{{ type_facets.rt_tm_minv_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_retrograde_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-retrograde" value="true" />Retrograde ({% if type_facets.rt_tm_retrograde_b.true %}{{ type_facets.rt_tm_retrograde_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_ms_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-ms" value="true" />Metrically shifted ({% if type_facets.rt_tm_ms_b.true %}{{ type_facets.rt_tm_ms_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_transposed_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-transposed" value="true" />Transposed ({% if type_facets.rt_tm_transposed_b.true %}{{ type_facets.rt_tm_transposed_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_invertible_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-invertible" value="true" />Invertible ({% if type_facets.rt_tm_invertible_b.true %}{{ type_facets.rt_tm_invertible_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if type_facets.rt_tnm_b.true %}
            {% if not request.GET|dictkey:'rt-tnm-embellished' and not request.GET|dictkey:'rt-tnm-reduced' and not request.GET|dictkey:'rt-tnm-amplified' and not request.GET|dictkey:'rt-tnm-truncated' and not request.GET|dictkey:'rt-tnm-ncs' and not request.GET|dictkey:'rt-tnm-ocs' and not request.GET|dictkey:'rt-tnm-ocst' and not request.GET|dictkey:'rt-tnm-nc' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="rt-tnm" value="true" />{% if request.GET|dictkey:'rt-tnm' %}Any{% else %}Non-mechanical transformation{% endif %} ({{ type_facets.rt_tnm_b.true }})
                </label>
              </li>
            {% endif %}
            {% if request.GET|dictkey:'rt-tnm' %}
              {% if type_facets.rt_tnm_embellished_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-embellished" value="true" />Embellished ({% if type_facets.rt_tnm_embellished_b.true %}{{ type_facets.rt_tnm_embellished_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_reduced_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-reduced" value="true" />Reduced ({% if type_facets.rt_tnm_reduced_b.true %}{{ type_facets.rt_tnm_reduced_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_amplified_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-amplified" value="true" />Amplified ({% if type_facets.rt_tnm_amplified_b.true %}{{ type_facets.rt_tnm_amplified_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_truncated_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-truncated" value="true" />Truncated ({% if type_facets.rt_tnm_truncated_b.true %}{{ type_facets.rt_tnm_truncated_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_ncs_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-ncs" value="true" />New counter-subject ({% if type_facets.rt_tnm_ncs_b.true %}{{ type_facets.rt_tnm_ncs_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_ocs_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-ocs" value="true" />Old counter-subject shifted ({% if type_facets.rt_tnm_ocs_b.true %}{{ type_facets.rt_tnm_ocs_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_ocst_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-ocst" value="true" />Old counter-subject transposed ({% if type_facets.rt_tnm_ocst_b.true %}{{ type_facets.rt_tnm_ocst_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_nc_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-nc" value="true" />New combination ({% if type_facets.rt_tnm_nc_b.true %}{{ type_facets.rt_tnm_nc_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if type_facets.rt_nm_b.true %}
            <li>
              <label class="checkbox">
                <input class="facet-refine" type="checkbox" name="rt-nm" value="true" />New material ({{ type_facets.rt_nm_b.true }})
              </label>
            </li>
          {% endif %}
          {% if type_facets.rt_om_b.true %}
            <li>
              <label class="checkbox">
                <input class="facet-refine" type="checkbox" name="rt-om" value="true" />Omission ({{ type_facets.rt_om_b.true }})
              </label>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% include "search/facets_auto.html" %}

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function ($) {
    attachFacetActions();
  });
</script>
