<h2>Narrow results</h2>
<div class="accordion" id="facet-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-observer-accordion" href="#collapse_observer">Observer</a>
    </div>
    <div id="collapse_observer" class="accordion-body collapse {% if request.GET|dictkey:'observer' %}in{% endif %}">
      <div class="accordion-inner">
        {% for facet_block in facet_results_observer %}
          {% if facet_block.1 %}
            <h4>{{ facet_block.0 }}</h4>
            <ul class="unstyled">
              {% for facet_item in facet_block.1 %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }} {% if facet_item.2 %}({{ facet_item.2 }}){% endif %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-model-accordion" href="#collapse_model">Model</a>
    </div>
    <div id="collapse_model" class="accordion-body collapse {% if request.GET|dictkey:'model-composer' or request.GET|dictkey:'model-genre' %}in{% endif %}">
      <div class="accordion-inner">
        {% for facet_block in facet_results_model %}
          {% if facet_block.1 %}
            <h4>{{ facet_block.0 }}</h4>
            <ul class="unstyled">
              {% for facet_item in facet_block.1 %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }} {% if facet_item.2 %}({{ facet_item.2 }}){% endif %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-derivative-accordion" href="#collapse_derivative">Derivative</a>
    </div>
    <div id="collapse_derivative" class="accordion-body collapse {% if request.GET|dictkey:'derivative-composer' or request.GET|dictkey:'derivative-genre' %}in{% endif %}">
      <div class="accordion-inner">
        {% for facet_block in facet_results_derivative %}
          {% if facet_block.1 %}
            <h4>{{ facet_block.0 }}</h4>
            <ul class="unstyled">
              {% for facet_item in facet_block.1 %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="{{ facet_item.1 }}" value="{{ facet_item.0 }}" />{{ facet_item.0 }} {% if facet_item.2 %}({{ facet_item.2 }}){% endif %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-rt-accordion" href="#collapse_rt">Relationship type</a>
    </div>
    <div id="collapse_rt" class="accordion-body collapse {% if request.GET|dictkey:'rt-q' or request.GET|dictkey:'rt-tm' or request.GET|dictkey:'rt-tnm' or request.GET|dictkey:'rt-nm' or request.GET|dictkey:'rt-om' %}in{% endif %}">
      <div class="accordion-inner">
        {% if type_facets.rt_q_b.true and request.GET|dictkey:'rt-q' %}
          <h4>Quotation</h4>
        {% elif type_facets.rt_tm_b.true and request.GET|dictkey:'rt-tm' %}
          <h4>Mechanical transformation</h4>
        {% elif type_facets.rt_tnm_b.true and request.GET|dictkey:'rt-tnm' %}
          <h4>Non-mechanical transformation</h4>
        {% else %}
          <h4></h4>
        {% endif %}
        <ul class="unstyled">
          {% if type_facets.rt_q_b.true %}
            {% if not request.GET|dictkey:'rt-q-x' and not request.GET|dictkey:'rt-q-monnayage' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="rt-q" value="true" />{% if request.GET|dictkey:'rt-q' %}Any{% else %}Quotation{% endif %} ({{ type_facets.rt_q_b.true }})
                </label>
              </li>
            {% endif %}
            {% if request.GET|dictkey:'rt-q' %}
              {% if type_facets.rt_q_x_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-q-x" value="true" />Exact ({% if type_facets.rt_q_x_b.true %}{{ type_facets.rt_q_x_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_q_monnayage_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-q-monnayage" value="true" />Monnayage ({% if type_facets.rt_q_monnayage_b.true %}{{ type_facets.rt_q_monnayage_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if type_facets.rt_tm_b.true %}
            {% if not request.GET|dictkey:'rt-tm-snd' and not request.GET|dictkey:'rt-tm-minv' and not request.GET|dictkey:'rt-tm-retrograde' and not request.GET|dictkey:'rt-tm-ms' and not request.GET|dictkey:'rt-tm-transposed' and not request.GET|dictkey:'rt-tm-invertible' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="rt-tm" value="true" />{% if request.GET|dictkey:'rt-tm' %}Any{% else %}Mechanical transformation{% endif %} ({{ type_facets.rt_tm_b.true }})
                </label>
              </li>
            {% endif %}
            {% if request.GET|dictkey:'rt-tm' %}
              {% if type_facets.rt_tm_snd_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-snd" value="true" />Sounding in different voice(s) ({% if type_facets.rt_tm_snd_b.true %}{{ type_facets.rt_tm_snd_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_minv_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-minv" value="true" />Melodically inverted ({% if type_facets.rt_tm_minv_b.true %}{{ type_facets.rt_tm_minv_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_retrograde_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-retrograde" value="true" />Retrograde ({% if type_facets.rt_tm_retrograde_b.true %}{{ type_facets.rt_tm_retrograde_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_ms_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-ms" value="true" />Metrically shifted ({% if type_facets.rt_tm_ms_b.true %}{{ type_facets.rt_tm_ms_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_transposed_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-transposed" value="true" />Transposed ({% if type_facets.rt_tm_transposed_b.true %}{{ type_facets.rt_tm_transposed_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tm_invertible_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tm-invertible" value="true" />Invertible ({% if type_facets.rt_tm_invertible_b.true %}{{ type_facets.rt_tm_invertible_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if type_facets.rt_tnm_b.true %}
            {% if not request.GET|dictkey:'rt-tnm-embellished' and not request.GET|dictkey:'rt-tnm-reduced' and not request.GET|dictkey:'rt-tnm-amplified' and not request.GET|dictkey:'rt-tnm-truncated' and not request.GET|dictkey:'rt-tnm-ncs' and not request.GET|dictkey:'rt-tnm-ocs' and not request.GET|dictkey:'rt-tnm-ocst' and not request.GET|dictkey:'rt-tnm-nc' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="rt-tnm" value="true" />{% if request.GET|dictkey:'rt-tnm' %}Any{% else %}Non-mechanical transformation{% endif %} ({{ type_facets.rt_tnm_b.true }})
                </label>
              </li>
            {% endif %}
            {% if request.GET|dictkey:'rt-tnm' %}
              {% if type_facets.rt_tnm_embellished_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-embellished" value="true" />Embellished ({% if type_facets.rt_tnm_embellished_b.true %}{{ type_facets.rt_tnm_embellished_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_reduced_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-reduced" value="true" />Reduced ({% if type_facets.rt_tnm_reduced_b.true %}{{ type_facets.rt_tnm_reduced_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_amplified_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-amplified" value="true" />Amplified ({% if type_facets.rt_tnm_amplified_b.true %}{{ type_facets.rt_tnm_amplified_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_truncated_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-truncated" value="true" />Truncated ({% if type_facets.rt_tnm_truncated_b.true %}{{ type_facets.rt_tnm_truncated_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_ncs_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-ncs" value="true" />New counter-subject ({% if type_facets.rt_tnm_ncs_b.true %}{{ type_facets.rt_tnm_ncs_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_ocs_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-ocs" value="true" />Old counter-subject shifted ({% if type_facets.rt_tnm_ocs_b.true %}{{ type_facets.rt_tnm_ocs_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_ocst_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-ocst" value="true" />Old counter-subject transposed ({% if type_facets.rt_tnm_ocst_b.true %}{{ type_facets.rt_tnm_ocst_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
              {% if type_facets.rt_tnm_nc_b.true %}
                <li>
                  <label class="checkbox">
                    <input class="facet-refine" type="checkbox" name="rt-tnm-nc" value="true" />New combination ({% if type_facets.rt_tnm_nc_b.true %}{{ type_facets.rt_tnm_nc_b.true }}{% else %}0{% endif %})
                  </label>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if type_facets.rt_nm_b.true %}
            <li>
              <label class="checkbox">
                <input class="facet-refine" type="checkbox" name="rt-nm" value="true" />New material ({{ type_facets.rt_nm_b.true }})
              </label>
            </li>
          {% endif %}
          {% if type_facets.rt_om_b.true %}
            <li>
              <label class="checkbox">
                <input class="facet-refine" type="checkbox" name="rt-om" value="true" />Omission ({{ type_facets.rt_om_b.true }})
              </label>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-model-mt-accordion" href="#collapse_model_mt">Model&rsquo;s musical type</a>
    </div>
    <div id="collapse_model_mt" class="accordion-body collapse">
      <div class="accordion-inner">
        {% if type_facets.model_mt_cf_b.true %}
          <h4>Cantus firmus</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-cf-voices' and not request.GET|dictkey:'model-mt-cf-dur' and not request.GET|dictkey:'model-mt-cf-mel' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-cf" value="true" />Any ({{ type_facets.model_mt_cf_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_sog_b.true %}
          <h4>Soggetto</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-sog-voices' and not request.GET|dictkey:'model-mt-sog-dur' and not request.GET|dictkey:'model-mt-sog-mel' and not request.GET|dictkey:'model-mt-sog-ostinato' and not request.GET|dictkey:'model-mt-sog-periodic' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-sog" value="true" />Any ({{ type_facets.model_mt_sog_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_csog_b.true %}
          <h4>Counter-soggetto</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-csog-voices' and not request.GET|dictkey:'model-mt-csog-dur' and not request.GET|dictkey:'model-mt-csog-mel' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-csog" value="true" />Any ({{ type_facets.model_mt_csog_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_cd_b.true %}
          <h4>Contrapuntal duo</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-cd-voices' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-cd" value="true" />Any ({{ type_facets.model_mt_cd_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_fg_b.true %}
          <h4>Fuga</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-fg-voices' and not request.GET|dictkey:'model-mt-fg-periodic' and not request.GET|dictkey:'model-mt-fg-strict' and not request.GET|dictkey:'model-mt-fg-flexed' and not request.GET|dictkey:'model-mt-fg-sequential' and not request.GET|dictkey:'model-mt-fg-inverted' and not request.GET|dictkey:'model-mt-fg-retrograde' and not request.GET|dictkey:'model-mt-fg-int' and not request.GET|dictkey:'model-mt-fg-tint' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-fg" value="true" />Any ({{ type_facets.model_mt_fg_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_pe_b.true %}
          <h4>Periodic entry</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-pe-voices' and not request.GET|dictkey:'model-mt-pe-strict' and not request.GET|dictkey:'model-mt-pe-flexed' and not request.GET|dictkey:'model-mt-pe-flt' and not request.GET|dictkey:'model-mt-pe-sequential' and not request.GET|dictkey:'model-mt-pe-added' and not request.GET|dictkey:'model-mt-pe-invertible' and not request.GET|dictkey:'model-mt-pe-int' and not request.GET|dictkey:'model-mt-pe-tint' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-pe" value="true" />Any ({{ type_facets.model_mt_pe_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_id_b.true %}
          <h4>Imitative duo</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-id-voices' and not request.GET|dictkey:'model-mt-id-strict' and not request.GET|dictkey:'model-mt-id-flexed' and not request.GET|dictkey:'model-mt-id-flt' and not request.GET|dictkey:'model-mt-id-invertible' and not request.GET|dictkey:'model-mt-id-int' and not request.GET|dictkey:'model-mt-id-tint' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-id" value="true" />Any ({{ type_facets.model_mt_id_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_nid_b.true %}
          <h4>Non-imitative duo</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-nid-voices' and not request.GET|dictkey:'model-mt-nid-strict' and not request.GET|dictkey:'model-mt-nid-flexed' and not request.GET|dictkey:'model-mt-nid-flt' and not request.GET|dictkey:'model-mt-nid-sequential' and not request.GET|dictkey:'model-mt-nid-invertible' and not request.GET|dictkey:'model-mt-nid-int' and not request.GET|dictkey:'model-mt-nid-tint' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-nid" value="true" />Any ({{ type_facets.model_mt_nid_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_hr_b.true %}
          <h4>Homorhythm</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-hr-voices' and not request.GET|dictkey:'model-mt-hr-simple' and not request.GET|dictkey:'model-mt-hr-staggered' and not request.GET|dictkey:'model-mt-hr-sequential' and not request.GET|dictkey:'model-mt-hr-fauxbourdon' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-hr" value="true" />Any ({{ type_facets.model_mt_hr_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_cad_b.true %}
          <h4>Cadence</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-cad-cantizans' and not request.GET|dictkey:'model-mt-cad-tenorizans' and not request.GET|dictkey:'model-mt-cad-type' and not request.GET|dictkey:'model-mt-cad-tone' and not request.GET|dictkey:'model-mt-cad-dtv' and not request.GET|dictkey:'model-mt-cad-dti' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-cad" value="true" />Any ({{ type_facets.model_mt_cad_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_int_b.true %}
          <h4>Interval pattern</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-int-voices' and not request.GET|dictkey:'model-mt-int-p6' and not request.GET|dictkey:'model-mt-int-p3' and not request.GET|dictkey:'model-mt-int-c35' and not request.GET|dictkey:'model-mt-int-c83' and not request.GET|dictkey:'model-mt-int-c65' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-int" value="true" />Any ({{ type_facets.model_mt_int_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
        {% if type_facets.model_mt_fp_b.true %}
          <h4>Form and process</h4>
          <ul class="unstyled">
            {% if not request.GET|dictkey:'model-mt-fp-comment' and not request.GET|dictkey:'model-mt-fp-ir' and not request.GET|dictkey:'model-mt-fp-range' %}
              <li>
                <label class="checkbox">
                  <input class="facet-refine" type="checkbox" name="model-mt-fp" value="true" />Any ({{ type_facets.model_mt_fp_b.true }})
                </label>
              </li>
            {% endif %}
            {# #}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#facet-derivative-mt-accordion" href="#collapse_derivative_mt">Derivative&rsquo;s musical type</a>
    </div>
    <div id="collapse_derivative_mt" class="accordion-body collapse">
      <div class="accordion-inner">




      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function ($) {
    attachFacetActions();
  });
</script>
