<h3>Refactor Your Search</h3>
<p align="left">
  <button type="submit" class="btn btn-primary edit-facet" id="{{ facet_id }}" name="removeFacet">
    <i class="icon-remove-sign icon-white"></i> Book
  </button>
  <button type="submit" class="btn btn-primary edit-facet" id="removeFacet2" name="removeFacet">
    <i class="icon-remove-sign icon-white"></i> Composer
  </button>
  <button type="submit" class="btn btn-primary edit-facet" id="removeFacet3" name="removeFacet">
    <i class="icon-remove-sign icon-white"></i> Contributor
  </button>
  <button type="submit" class="btn btn-primary edit-facet" id="removeFacet4" name="removeFacet">
    <i class="icon-remove-sign icon-white"></i> Cadences
  </button>
  <button type="submit" class="btn btn-primary edit-facet" id="removeFacet5" name="removeFacet">
    <i class="icon-remove-sign icon-white"></i> Interval Patterns
  </button>
  <button type="submit" class="btn btn-primary edit-facet" id="removeFacet5" name="removeFacet">
    <i class="icon-remove-sign icon-white"></i> Presentation Types
  </button>
</p>
<p align="right">
  <button type="submit" class="btn btn-primary btn-inverse" id="startOver" name="startOver">
    Start Over
  </button>
</p>

<!--<h3>Refactor Your Search</h3>
<p align="left">
  <label class="checkbox" for="removeFacet1"><input type="checkbox" id="removeFacet1" name="removeFacet" value="Book" />Book</label>
  <label class="checkbox" for="removeFacet2"><input type="checkbox" id="removeFacet2" name="removeFacet" value="Composer" />Composer</label>
  <label class="checkbox" for="removeFacet3"><input type="checkbox" id="removeFacet3" name="removeFacet" value="Contributor" />Contributor</label>
  <label class="checkbox" for="removeFacet4"><input type="checkbox" id="removeFacet4" name="removeFacet" value="Cadences" />Cadences</label>
  <label class="checkbox" for="removeFacet5"><input type="checkbox" id="removeFacet5" name="removeFacet" value="Interval Patters" />Interval Patterns</label>
  <label class="checkbox" for="removeFacet6"><input type="checkbox" id="removeFacet6" name="removeFacet" value="Presentation Types" />Presentation Types</label>
</p>
<p align="right">
  <button type="submit" class="btn btn-primary" id="removeFacets" name="removeFacets">
    Remove These Limits
  </button>
  <button type="submit" class="btn btn-primary btn-inverse" id="startOver" name="startOver">
    Start Over
  </button>
</p> -->