{% extends "base.html" %}
{% load markdown %}
{% load static %}

{% block title %}
<title>CRIM | {{ content.name }}</title>
{% endblock %}

{% block wrap %}
  <hgroup class="page-title">
    <h1>{{ content.name }}</h1>
  </hgroup>
  
  {% if content.remarks %}
    <h2>Remarks</h2>
    <p id="remarks-text">{{ content.remarks|markdown|safe }}</p>
  {% endif %}
  
  <h2>Pieces</h2>
  {% if content.pieces %}
    <table class="table table-white table-bordered table-hover">
      <thead>
        <tr>
          <th>Piece ID</th>
          <th>Title</th>
          <th>Composer</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for piece in content.pieces %}
          <tr>
            <td>
              {% for pdf_link in piece.pdf_links %}
                <a href="{{ pdf_link }}">
                  <img src="{% static 'img/pdfdownload.png' %}" height=21 />
                </a>
              {% endfor %}
              {% for mei_link in piece.mei_links %}
                <a href="{{ mei_link }}">
                  <img src="{% static 'img/meidownload.png' %}" height=16 />
                </a>
              {% endfor %}
              <a href="{{ piece.url|htmlsite }}">{{ piece.piece_id }}</a>
            </td>
            <td>{{ piece.title }}</td>
            <td>{{ piece.composers_with_url|htmlsite|safe }}</td>
            <td>{% if piece.date %}{{ piece.date }}{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No pieces in this genre.
  {% endif %}

  <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
  <script type="text/JavaScript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>

{% endblock %}
