#comment-form {
  width: 50%;
}

#comment-form textarea {
  width: 100%;
  height: 100px;
}

#comment-form input {
  display: block;
  margin: 0 auto;
}

#comment-tree li {
  list-style: none;
  margin-bottom: 15px;
  white-space: pre-line;
}

#comment-tree li p {
  margin-top: 5px;
}

#comment-tree h2 {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0px;
}

#forum-post {
  white-space: pre-line;
}

#forum-post-form {
  width: 50%;
  text-align: center;
}

#forum-post-form table {
  width: 100%;
  background-color: transparent;
}

#forum-post-form textarea, input[type="text"] {
  width: 100%;
}

#forum-post-form {
  margin: 0 auto;
}

#reply-comment {
  width: 50%;
}

#reply-comment h2 {
  font-style: normal;
}

#reply-comment form {
  /* In order to center the submit button. */
  text-align: center;
}

#reply-comment textarea {
  width: 100%;
  height: 100px;
}
