{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>CRIM | Citation tool</title>
{% endblock %}

{% block wrap %}
  <link rel="stylesheet" type="text/css" href="{% static "node_modules/crim-citations/crim-citations.css" %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <h1>Citation tool</h1>
  {% if request.user.is_authenticated and request.user.profile.person %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row crim_header" style="margin-top: 15px; margin-bottom: 15px;">
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation">
            <button type="button" id="add_btn" class="btn btn-primary">
              Add scores
            </button>
            <button type="button" id="import_btn" class="btn btn-primary mdl-button mdl-js-button">
              Import analyses
            </button>
            <button type="button" id="export_btn" class="btn btn-info" style="display:none;">
              Export analyses
            </button>
            <button type="button" id="clear_btn" class="btn btn-danger">
              Clear analyses
            </button>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content" id="main-citations" data-pieces="/data/pieces/" data-relationships="/data/relationships/">
        <!-- or data-scoreA, data-scoreB -->
        <section class="mdl-layout__tab-panel is-active" id="create_edit">
          <div class="page-content" id="create_edit">
            <div id="loader"><img src="{% static "/img/loading.gif" %}" width=128 /> Loading&hellip;</div>
            <div class="mdl-grid">
            </div>
          </div>
        </section>
      </main>
    </div>
    <div id="dialogs"></div>
  {% else %}
    <p>Please log in to use the CRIM citation tool.</p>
  {% endif %}

  <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"></script>
  <script src="{% static "node_modules/crim-citations/crim-citations.js" %}"></script>
  <script src="{% static "node_modules/dialog-polyfill/dialog-polyfill.js" %}"></script>

{% endblock %}
